//////////////////////////////
// texasexes-proto
//////////////////////////////

////////////////////////////
// Cross Browser Support
$graceful-usage-threshold: 100;
$critical-usage-threshold: 100;

$browser-minimum-versions: (
  "ie": "9",
  "android": "4",
  "chrome": "31",
  "safari": "5",
  "firefox": "25",
  "ios-safari": "6.0-6.1",
);

////////////////////////////

////////////////////////
// Compass Imports
@import "compass";
@import "compass/reset";
////////////////////////

////////////////////////
// Compass Extensions
@import "toolkit";
@import "toolkit/kickstart";
@import "breakpoint";
@import "singularitygs";
@import "modular-scale";
@import "color-schemer";
////////////////////////

//////////////////////////////
// GLOBALS
@import "partials/global/config";
@import "partials/global/functions";
@import "partials/global/variables";
@import "partials/global/typography";
@import "partials/global/extras";
@import "partials/global/mixins";
@import "partials/global/extends";
//////////////////////////////

//////////////////////////////
// COMPONENTS
@import "partials/components/base";
@import "partials/components/blockquote";
@import "partials/components/blocks";
@import "partials/components/button";
@import "partials/components/checkbox";
@import "partials/components/container";
@import "partials/components/cover-image";
@import "partials/components/footer";
@import "partials/components/footer-menu";
@import "partials/components/header";
@import "partials/components/images";
@import "partials/components/input-range";
@import "partials/components/links";
@import "partials/components/lists";
@import "partials/components/logo";
@import "partials/components/main-menu";
@import "partials/components/paragraph";
@import "partials/components/radio";
@import "partials/components/search";
@import "partials/components/sidebar-menu";
@import "partials/components/text-input";
@import "partials/components/video";
//////////////////////////////


//////////////////////////////
// Style-Prototype Only - don't migrate to Drupal
@import "partials/components/prototype-only/sections";
//////////////////////////////

//////////////////////////////
// LAYOUTS

@import "partials/layouts/video-paragraph";
@import "partials/layouts/image-paragraph";
@import "partials/layouts/one-column-page";
@import "partials/layouts/two-column-page";
@import "partials/layouts/three-column-page";
//////////////////////////////
