/**
 * @file _tabs.scss
 * Drupal Component - Tabs
 */
ul.primary {
  @extend %clearfix;
  margin: $space auto;
  padding: 0 $space;

  li {
    display: block;
    margin: 0;

    @include breakpoint($tabs-full) {
      margin: 0 $space-one-fourth 0 0;
      display: inline-block;
    }   
  }
  a {
    padding:$space-half $space;
    background-color: lighten($gray-lt3, 10%);
    border-bottom: $space-one-sixth solid $gray-lt3;  
    display: block;  
    text-decoration: none;
    text-align: center;
    @include breakpoint($tabs-full) {
      padding:$space-half $space;
    }
    &:hover {
      color: $gray;
      background-color: $gray-lt3;
      border-color: $gray-lt2;
    }
    &.active {
      color: $white;
      background-color: $blue-lt;
      border-color: $blue;
    }
  }
}
