<!-- Image-Paragraph Pattern -->
<div class="container">
  <section class="image-paragraph">
    <div class="image">
      <img src="images/te-sized-image-1.jpg">
      <figure class="caption"><span>photo credit:</span> Austin Texas</figure>
    </div>
    <div class="image-content">
      <h3>cursus commodo</h3>
      <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris <strong>condimentum nibh</strong>, ut fermentum <a href="javascript:void(0)">read more</a>.</p>
    </div>
  </section>
</div>