<!-- Two-Column-Page Pattern -->
<section class="page two-column-page">
  <div class="container">
    <div class="sidebar">
      <div class="block-title">
        <h3>In this section</h3>
      </div>
      <div class="block-content">
      <ul class="menu">
        <li><a href="#">one</a></li>
        <li><a href="#">two</a></li>
      </ul>
      </div>
    </div>
    <div class="content">
      <p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.</p>

      <p>Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions.</p>
    </div>
  </div>
</section>