//////////////////////////////
// Drupal Component - Breadcrumbs
//
/**
 * @file
 * Styles for system messages.
 */

.breadcrumb {
  color: $gray-lt2;
  border-bottom:$space-one-sixth solid $gray-lt3;
  padding: $space;
  margin-bottom: $space-doubled;
  a {
    color: $gray-lt2;
    padding: $space;
    &:hover {
      color: $gray;
    }
  }
}