//////////////////////////////
// Drupal Component - Messages
//
/**
 * @file
 * Styles for system messages.
 */

.messages {
  color: $gray;
  border-width: em(1) em(1) em(1) $space;
  border-style: solid;
  padding: $space;
  margin-bottom: $space-doubled;
  p {
    margin: 0;
    max-width: 100%;
    &:before {
      display: inline-block;
      width: 32px;
      height: 32px;
      margin: 0 $space 0 0;
      vertical-align: middle;
      content: "";
      background-repeat: no-repeat;
      background-size: cover;  
    }
  }
  a {
    &:link,
    &:visited {
      color: $gray-dk;
    }
    &:hover {
      color: $blue-dk;
    }
  }
  &.status {
    border-color: $green;
    background-color: $green-lt2;
    color: $green-dk;
    p {
      &:before {
        background-image: url(../images/icons/message-success.svg);
      }      
    }
  }

  &.warning {
    border-color: $yellow;
    background-color: $yellow-lt;
    color: $yellow-dk;
    p {
      &:before {
        background-image: url(../images/icons/message-warning.svg);
      }      
    }
  }

  &.error {
    border-color: $red;
    background-color: $red-lt;
    color: $red-dk;
    p {
      &:before {
        background-image: url(../images/icons/message-error.svg);
      }      
    }    
  }
}