//////////////////////////////
// Prototype-Only / Sections
//
// The partial and folder structure for this components should be as follows:
// _sections.scss
// 
//////////////////////////////
// @{_sections}
// Styling for Prototype-Only / Sections

[data-sp-class="section--group"] {
  padding: 0;
  margin: 0 auto;
  clear: both;
  display: block;
  width: 100%;
}
li[data-sp-class="section--group"] {
  margin: 0 0 $space-tripled;
  float: left;
}
ul[data-sp-class],
[data-sp-class="section--header"] {
  padding: $space;
  margin: 0 auto;
}
p.info,
.base--TEXT,
.base--em,
.base--img,
.base--link,
.base--a,
.base--p,
.base--strong,
.base--h1,
.base--h2,
.base--h3,
.base--h4,
.base--h5,
.base--h6,
.base--mixed-list,
.size-info,
.base--ol,
.base--ul,
.base--FORM,
fieldset.ng-scope {
  padding: 0 $space;
}
.base--button,
.base--select {
  margin-left: $space;
}

// clear things
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol {
  clear: both;
}

// Lists 
main { // main wrapper defined for prototype only
  .base--TEXT,
  .base--ul,
  .base--ol {
    li {
      font-size: em(20); 
      line-height: 1.8;
      font-family: $serif;
      color:$gray-lt;
    }
  }
}
