<footer id="footer" role="contentinfo">
  <div class="container">
    <div class="panel-pane pane-txex-footer-information">      
      <div class="pane-content">
        <div class="wrap">
          <div class="seal"><span class="seal-image">Texas Exes</span></div>
          <div class="copyright"><p>Texas Exes Style Guide</p></div>
          <div class="contact"><p>&amp; Layouts</p></div>
        </div><!--/.wrap-->
      </div><!--/.pane-content-->
    </div><!--/.panel-pane-->
  </div><!--/.container-->
</footer>
