<section class="top-bar">
  <div class="container">
    <ul class="entities menu">
      <li class="first"><a href="/" class="texas-exes active active">Texas Exes</a></li>
      <li><a href="http://alcalde.texasexes.org" class="alcalde">Alcalde</a></li>
      <li><a href="http://scholarships.texasexes.org" class="scholarships">Scholarships</a></li>
      <li><a href="http://gameday.texasexes.org" class="gameday">Gameday Central</a></li>
      <li class="last"><a href="http://thehook.texasexes.org" class="the-hook">The Hook</a></li>
    </ul>
  </div>
</section>

<header id="header" role="banner" class="site-header{% if page.header-class %} {{ page.header-class }}{% endif %}">
  <div class="container">
    <a href="/" title="Return to the !site_name home page" rel="home" class="logo"><h1>Texas Exes</h1></a>
    <nav class="main-menu">
      <ul class="menu"><li class="first"><a href="#" id="main-menu-toggle" class="icon-menu">Menu</a><ul class="menu"><li class="first leaf"><a href="/" class="active">Home</a></li>
      <li class="expanded"><a href="/about-texas-exes">About Texas Exes</a><ul class="menu"><li class="first leaf"><a href="/about-texas-exes/purpose-vision">Purpose &amp; Vision</a></li>
      <li class="leaf"><a href="/about-texas-exes/board-council">Board &amp; Council</a></li>
      <li class="last leaf"><a href="/about-texas-exes/contact-us">Contact Us</a></li>
      </ul></li>
      <li class="expanded"><a href="/benefits">Membership &amp; Benefits</a><ul class="menu"><li class="first leaf"><a href="/membership-benefits/join-texas-exes">Join Texas Exes</a></li>
      <li class="leaf"><a href="/membership-benefits/membership-levels">Membership Levels</a></li>
      <li class="last leaf"><a href="/membership-benefits/why-join">Why Join?</a></li>
      </ul></li>
      <li class="last leaf"><a href="http://test-texas-exes.gotpantheon.com/travel" title="Travel the World with the Flying Longhorns">Travel</a></li>
      </ul></li>
      <li><a href="/node/999" class="icon-give">Give</a></li>
      <li><a href="/node/999" class="icon-join">Join</a></li>
      <li class="last"><a href="/user/logout" class="icon-logout">Logout</a></li>
      </ul>
    </nav>
  </div>
</header>
