//////////////////////////////
// button Component Mixins
//////////////////////////////

@mixin button($bg, $text) {
  position: relative;
  display: inline-block;
  background: $bg;
  color: $text;
  cursor: pointer;
  transition: all .2s ease;
  border: em(4) solid darken($bg, 5%);
  padding: $space;
  
  &:hover,
  &:focus {
    background: darken($bg, 8%);
    color: darken($text, 15%);
    border-color: lighten($bg, 8%);
  }
  &.active {
    @include box-shadow(rgba($gray, 0.4) 0 0 8px inset);
    background: lighten($bg, 25%);
    color: darken($text, 80%);
    border-color: lighten($bg, 5%);
    &:hover {
      background: lighten($bg, 25%);
      color: darken($text, 80%);
      border-color: lighten($bg, 5%);
    }
  }
  &:focus {
    outline-color: darken($text, 15%);
  }
  &.large {
    padding: $space;
  }
  &.small {
    padding: $space-sm;
  }
}
