<!-- Drupal Essentials: messages -->
<div class="container">

  <div class="messages status">
    <h2 class="element-invisible">Status message</h2>
    <p>Journal entry <a href="#"><em>Introducing Myself and My Journal</em></a>
    has been created.</p>
  </div>

  <div class="messages warning">
    <h2 class="element-invisible">Status message</h2>
    <p>Some of the pending updates cannot be applied.
    <a href="#">Review database logs.</a></p>
  </div>

  <div class="messages error">
    <h2 class="element-invisible">Status message</h2>
    <p>Sorry, unrecognized username or password.
    <a href="#">Have you forgotten your password?</a></p>
  </div>
</div>