<!-- Two-Column-Page Pattern -->

<input type="checkbox" id="entity-toggle" class="checkbox"/>
<label for="entity-toggle" id="entity-toggle-label" class="secondary button">Our Sites / Search</label>  
<section class="top-bar">
  <div class="container">
    <ul class="entities menu">
      <li><a href="javascript:void(0)" class="active texas-exes">Texas Exes</a></li>
      <li><a href="javascript:void(0)" class="alcalde">Alcalde</a></li>
      <li><a href="javascript:void(0)" class="scholarships">Scholarships</a></li>
      <li><a href="javascript:void(0)" class="gameday">Gameday Central</a></li>
      <li><a href="javascript:void(0)" class="the-hook">The Hook</a></li>
    </ul>
    <div class="search">
      <input type="search" id="search-input" />
      <button type="submit" value="Submit" class="search-btn">Search</button>
    </div>
  </div>
</section>

<header class="header">
  <div class="container">
    <div class="logo">
      <img src="/images/logos/logo.svg" alt="Texas Exes Logo" />
    </div>
    <navigation role="main navigation" class="main-menu">
      <div class="container">
        <ul class="menu">
          <li class="menu-item menu-item-1 active">
            <input type="checkbox" id="main-menu-toggle" class="checkbox"/>
            <label for="main-menu-toggle" id="main-toggle-label">Menu</label>       
            <ul class="menu">
              <li><a href="javascript:void(0)">About Texas Exes</a></li>
              <li><a href="javascript:void(0)">Membership &amp; Benefits</a></li>
              <li><a href="javascript:void(0)">Events</a></li>
              <li><a href="javascript:void(0)">Chapters &amp; Networks</a></li>
              <li><a href="javascript:void(0)">Travel</a></li>
              <li><a href="javascript:void(0)">Awards</a></li>
              <li><a href="javascript:void(0)">Advocate for UT</a></li>
            </ul>
          </li>
          <li class="menu-item menu-item-2"><a href="javascript:void(0)">Give</a></li>
          <li class="menu-item menu-item-3"><a href="javascript:void(0)">Store</a></li>
          <li class="menu-item menu-item-4"><a href="javascript:void(0)">Login</a></li>
        </ul>
      </div>
    </navigation>
  </div>
</header>

<section class="cover-image persist-area">
 <img src="/images/te-sized-image-3-cover.jpg" class="persist-header" alt="Texas Stadium" />
</section>
<section class="page two-column-page">
  <div class="container">
    <input type="checkbox" id="menu-toggle" class="checkbox"/>
    <label for="menu-toggle" id="toggle-label" class="primary button">Toggle side menu</label>
    <div class="sidebar">
      <div class="block-title">
        <h3>In this section</h3>
      </div>
      <div class="block-content">
        <ul class="menu">
          <li><a href="javascript:void(0)" class="active">Purpose &amp; Vision</a></li>
          <li><a href="javascript:void(0)">Board &amp; Council</a></li>
          <li><a href="javascript:void(0)">Contact Us</a></li>
          <li><a href="javascript:void(0)">Alumni Center</a></li>
          <li><a href="javascript:void(0)">Corporate Sponsor</a></li>
          <li><a href="javascript:void(0)">Careers at Texas Exes</a></li>
          <li><a href="javascript:void(0)">Events</a></li>
          <li><a href="javascript:void(0)">History &amp; Traditions</a></li>
        </ul>
      </div>
    </div>
    <div class="content">
      <h1>A world of words</h1>
      <h2>Dramatically visualize ROI</h2>
      <p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.</p>
      <h2>growth strategies</h2>      
      <h3>Completely pursue scalable</h3>      
      <p>Phosfluorescently engage worldwide methodologies with web-enabled technology. Interactively coordinate proactive e-commerce via process-centric "outside the box" thinking. Completely pursue scalable customer service through sustainable potentialities.</p>
      <p>Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions.</p>
    </div>
  </div>
</section>

<footer>
  <div class="container">
    <ul class="menu">
      <li><a href="javascript:void(0)">Brand Central</a></li>
      <li><a href="javascript:void(0)">Sponsor or Advertise</a></li>
      <li><a href="javascript:void(0)">Contact Us</a></li>
      <li><a href="javascript:void(0)">Careers at Texas Exes</a></li>
      <li><a href="javascript:void(0)">Privacy Policy</a></li>      
    </ul>
    <div class="wrap">
      <div class="seal">
        <img src="../images/logos/seal-logo.svg" alt="Texas Exes Logo Mark"/>
      </div>     
      <div class="copyright">
        <p>&copy;2014 Ex-Students' Association of the University of Texas.</p>
      </div>
      <div class="contact">
        <p><span itemprop="address">San Jacinto Boulevard, Austin, TX 78712</span> | <span itemprop="telephone"><a href="tel:+1512-471-8839">512-471-8839</a></span></p>
      </div>              
    </div> 
  </div>
</footer>
