//////////////////////////////
// Typography
// _search.scss
//////////////////////////////
//
// This parial seeks to control 
// all type-related size, line height,
// and base styling treatments.
//
//////////////////////////////

html {
  font-size: 16px;
}
// Basic elements
p {
  font-family: $serif;
  font-weight: 500;
  font-size:16px;
  line-height: 1.5;
  color: $gray;
  margin-bottom: $space-doubled;
  max-width: 632px; // for controlling ideal character count measure <= 72 characters
}
em {
  font-style: italic;
}
strong {
  font-weight: 800;  
}
blockquote {
  font-family: $serif;
  font-weight: 800;  
  font-size:30px;
  line-height: 1.4;
  font-style: italic;
}
cite {
  font-family: $sans49;
  font-style: normal;
  text-transform: uppercase;
  font-size:24px;
  color: $gray-lt;
  span {
    color: $gray-lt2; 
  }
}
figcaption {
  color: $gray-lt; 
  font-family: $serif;
  padding: $space-half;
  border-bottom: $space-one-tenth solid $gray-lt3;
  span {
    font-family: $sans49;
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: $space-one-twelfth;
  }
}

// Heading font family, weight, and margin
h1 {
  font-family: $sans49;
  line-height: 1.2;
  font-weight: 400;
  margin-bottom: $space-half;
}

h2,
h3,
h4,
h5,
h6 {
  margin-bottom: $space;
}
h2,
h5,
h6 {
  font-family: $sans;
  font-weight: 400;
  line-height: 1.2;
}
h3 {
  font-family: $serif;
  font-weight: 700;
  line-height: 1.5;
}
h4 {
  font-family: $sans49;
  line-height: 1.2;
  font-weight: 400;
}


// Heading font sizes 
h1 {
  font-size:50px;
  text-transform: uppercase;
  color: $gray-dk;
}
h2 {
  font-size:30px;
  color: $gray-lt;
  text-transform: uppercase;
  border-bottom: $space-one-eigth solid $gray-lt3;
}
h3 {
  font-size:28px;
  color: $gray-lt;
}
h4 {
  font-size:24px;
  color: $gray-lt;
  text-transform: uppercase;
  letter-spacing: $space-one-twelfth;
}
h5 {
  font-size:20px;
  color: $gray;
  text-transform: uppercase;
}
h6 {
  font-size:16px;
  color: $gray;
}

main { // remove for drupal - can just be ul,ol
  ul,
  ol {
    font-family: $serif;
    color:$gray-lt;
  }
}

//
// Menus
//

.menu,
.primary {
  font-size:16px;
  line-height: 1.2;
  font-family: $sans;
  text-transform: uppercase;
  @include breakpoint($main-menu-full) {
    font-size:20px;
  }
  ul {
    text-transform: none;
    font-size:16px;
    line-height: 1.2;
    font-family: $serif;
  }
  &.entities {
    text-transform: uppercase;
    font-size:12px;
    line-height: 1;  
    @include breakpoint($entity-larger-text) {
      font-size:16px;
      line-height: 1.2;  
      text-transform: none; 
    }
  }
}

footer {
  .menu {
    font-size:18px;
  }
}

//
// Section-specific type
//
.cta {
  h4 {
    color: $white;
  }
  p {
    color: $gray-lt3;
  }
}
.sidebar {
  h3 {
    font-size:20px;
  }
  a {
    text-transform: none;
    text-decoration: none;
    font-family: $serif;
    font-size:16px;
    font-weight: 400;
    &:hover {
      text-decoration: underline;
    }
  }  
}
.teaser {
  p {
    font-size:16px;
    margin-top: $space;
  }
}
footer {
  p {
    font-size:16px;
    font-family: $sans49;
    font-weight: 400;
    color: $gray-lt2;
    letter-spacing: $space-one-twelfth;
    margin:0;
    text-transform: uppercase;
    text-align: center;

    a {
      font-weight: 400;
    }
  }
}

// Form components
legend {
  font-family: $sans;
  line-height: 1.2;
  margin-bottom: $space-one-sixth;
  color: $gray;
}
label {
  font-size:24px;
  font-family: $sans49;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: $space-one-sixth;
  text-transform: uppercase;
  color: $gray;
  letter-spacing:$space-one-twelfth;

  &.radio,
  &.checkbox {
    font-family: $sans;
    font-size:18px;
    text-transform: none;    
  }
}
input,
textarea {
  font-size:18px;
  line-height: 1.2;
  font-family: $serif;
}

// Buttons 
.button,
button,
input[type="submit"] {
  text-transform: uppercase;  
  font-family: $sans;
  font-weight: 400;
  letter-spacing:1.2px;
  font-size:18px;
  line-height: 1.8; 
  &.small {
    font-size:16px;
    line-height: 1.2; 
  }
  &.search {
    line-height: 1.1; 
  }
}

// Label buttons for toggling
#main-toggle-label { // Match main ul font-size
  font-size:16px;
  @include breakpoint($main-menu-full) {
    font-size:20px;
  }  
}
#toggle-label {
  font-size:16px;
}
#main-toggle-label,
#toggle-label {
  line-height: 1.2;
  font-family: $sans;
  text-transform: uppercase;
  letter-spacing: normal;
}
