//////////////////////////////
// Typography
//
//////////////////////////////


// Basic elements
p {
  font-family: $serif;
  font-weight: 500;
  font-size: em(20);
  line-height: 1.5;
  color: $gray;
  margin-bottom: $space-doubled;
}
em {
  font-style: italic;
}
strong {
  font-weight: 800;  
}
blockquote {
  font-family: $serif;
  font-weight: 800;  
  font-size:em(38);
  line-height: 1.4;
  font-style: italic;
}
cite {
  font-family: $sans49;
  font-style: normal;
  text-transform: uppercase;
  font-size:em(28); 
  color: $gray-lt;
  span {
    color: $gray-lt2; 
  }
}
figcaption {
  color: $gray-lt; 
  font-family: $serif;
  font-size:em(18);
  padding: $space;
  border-bottom: em(1) solid $gray-lt3;
  span {
    font-family: $sans49;
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: em(1);
  }
}

// Heading font family, weight, and margin
h1 {
  font-family: $sans49;
  line-height: 1.5;
  font-weight: 400;
  margin-bottom: em(6);
}

h2,
h3,
h4,
h5,
h6 {
  margin-bottom: em(15);
}
h2,
h5,
h6 {
  font-family: $sans;
  font-weight: 400;
  line-height: 1.2;
}
h3 {
  font-family: $serif;
  font-weight: 700;
  line-height: 1.5;
}
h4 {
  font-family: $sans49;
  line-height: 1.2;
  font-weight: 400;
}


// Heading font sizes 
h1 {
  font-size:em(65);
  text-transform: uppercase;
  color: $gray-dk;
}
h2 {
  font-size:em(38);
  color: $gray-lt;
  text-transform: uppercase;
  border-bottom: em(3) solid $gray-lt3;
}
h3 {
  font-size:em(32);  
  color: $gray-lt;
}
h4 {
  font-size:em(30);  
  color: $gray-lt;
  text-transform: uppercase;
  letter-spacing: em(1);
}
h5 {
  font-size:em(24);  
  color: $gray;
  text-transform: uppercase;
}
h6 {
  font-size:em(20);  
  color: $gray;
}

// clear things
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol {
  clear: both;
}


// Section-specific type
.sidebar {
  h3 {
    font-size: em(24);  

    @include breakpoint($block-title) {
      font-size: em(36);  
    }
  }
}

footer {
  p {
    font-size: em(21);
    font-family: $sans49;
    font-weight: 400;
    color: $gray-lt2;
    letter-spacing: em(1);
    margin:0;
    text-transform: uppercase;
    @include breakpoint($footer-med) {    
      text-align: center;
    }
    a {
      font-weight: 400;
    }
  }
}

// Form type
legend {
  font-family: $sans;
  line-height: 1.2;
  margin-bottom: em(8);
  color: $gray;
}
label {
  font-family: $sans49;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: em(8);
  text-transform: uppercase;
  color: $gray;
  font-size:em(30);
  letter-spacing: em(1.5);
  &.radio,
  &.checkbox {
    font-family: $sans;
    font-size:em(20);
    text-transform: none;    
  }
}
input,
textarea {
  font-size: em(24);
  line-height: 1.2;
  font-family: $serif;
}

// Buttons 
.button,
button,
input[type="submit"] {
  text-transform: uppercase;  
  font-family: $sans;
  font-weight: 400;
  letter-spacing: em(1);
  font-size: em(22);
  line-height: 1.8; 
  &.small {
    font-size: em(20);
    line-height: 1.2; 
  }
  &.search {
    line-height: 1.1; 
  }
}

input[type="search"] {
  line-height: 1.1; 
}
// Menus
.menu {
  font-size: em(24);
  line-height: 1.2;
  font-family: $sans;
  text-transform: uppercase;
  ul {
    text-transform: none;
    font-size: em(18);
    line-height: 1.2;
    font-family: $serif;
  }
  &.entities {
    text-transform: none;
    font-size: em(21);
    line-height: 1.2;    
  }
}
.sidebar {
  a {
    text-transform: none;
    font-family: $serif;
    font-size: em(18);
    @include breakpoint($sidebar-full) {
      font-size: em(16);
    }
  }
}
footer {
  .menu {
    font-size: em(22);
  }
}

// Lists 
main { // main wrapper defined for prototype only
  .base--TEXT,
  .base--ul,
  .base--ol {
    li {
      font-size: em(20); 
      line-height: 1.8;
      font-family: $serif;
      color:$gray-lt;
    }
  }
}

// PROTOTYPE ONLY below

#main-toggle-label {
  font-size: em(20);
  line-height: 1.2;
  font-family: $sans;
  text-transform: uppercase;
  letter-spacing: normal;
}
