//////////////////////////
// Variables
//////////////////////////

/////////
// Type
$sans: 'Knockout 31 A', 'Knockout 31 B', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$sans31: 'Knockout 31 A', 'Knockout 31 B', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$sans49: 'Knockout 49 A', 'Knockout 49 B', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$sans50: 'Knockout 50 A', 'Knockout 50 B','Helvetica Neue', Helvetica, Arial, sans-serif;
$sans90: 'Knockout 90 A', 'Knockout 90 B', 'Helvetica Neue', Helvetica, Arial, sans-serif;

// Weights 400

$serif: 'Sentinel SSm A', 'Sentinel SSm B', Georgia, serif;
// Weights 500,700,800


/////////
// Colors
$white: #fff;
$black: #000;

$orange: #cb6015;
$orange-dk: #b25412;
$orange-lt: #e47126;
$orange-lt2: #ff9c57;

$gray: #1a1b1c;
$gray-dk: #020202;
$gray-lt: #464647;
$gray-lt2: #7c7c7c;
$gray-lt3: #c8c8c8;

// Secondary / Tertiary
$blue: #227178;
$blue-dk:#144347;
$blue-lt:#2a8e97;

// Form active states and system messages
$green: #6f853c;
$green-dk: #5f7233;
$green-lt: #839c47;
$green-lt2: #a1bf5b;
$red: #cb2015;
$red-lt: #ec584f;
$red-dk: #78120c;
$yellow:#cbc915;
$yellow-lt:#eeed61;
$yellow-dk:#93920f;


@include cs-test($orange $orange-dk $gray $gray-lt $gray-lt2 $blue $blue-dk $green $green-dk);

///////////
// Spacing - see _functions.scss for calculator function
//
// Based on EM calculator: http://viljamis.com/blog/2013/prototyping-responsive-typography
// Browser context is set to 20 as a global value.

///////////
// Why are we doing this?
//
// The idea behind the $space variable is similar to using the EM calculator in that it allows for
// fine tuning the site's vertical rhythm through altering one value. This way we don't have arbitrary values
// littering our Sass partials. 

$space: em(20);
$space-doubled: $space*2;
$space-tripled: $space*3;
$space-quadrupled: $space*4;

$space-half: $space/2;
$space-one-third: $space/3;

$space-negative: -8em; // only used for cover image
$space-double-negative: -16em; // only used for cover image

/////////
// Singularity variables
//
$breakpoint-to-ems: true;
@include add-grid(16);
@include add-gutter(1/3);


/////////
// Breakpoints
//
// ***** @TODO: *****
// ----> Add no-query fallbacks options for IE8
// Client-identified browser requirement is 
// to provide basic support for IE back to version 8

// Top Bar
$entity-full:986px;
$entity-show:680px; // show or hide entity icons
$entity-collapse: 0 661px;

// Header
$logo-full:0 680px;// show or hide entity icons

$search-med: 986px;

// Sidebar
$sidebar-full:0 723px;
$sidebar-trigger:724px;
$sidebar-right:990px;
$sidebar-right-med:660px;
$content-right:0 989px;

$cta-med:500px 989px;


$block-title:820px;

// Paragraphs 
$paragraph-medium: 950px;
$paragraph-full: 600px;

// blockquotes
$quotes-full: 825px;

// Cover Photo
$cover-photo-full: 780px;
$cover-photo-huge: 1400px;

// Menus
$main-menu: 830px;
$main-menu-med: 0 560px;

$navigation-full: 0 680px;

// Pager
$pager-full: 815px;
$pager-medium: 645px 1108px;
$pager-small: 0 644px;


// Forms
$forms-medium: 0 830px;
$forms-full: 0 600px;

// Media - Images and Video
$image-full: 900px;
$media-full: 0 820px;

// Footer 
$footer-full: 1112px;
$footer-med: 0 680px;

