//////////////////////////
// Variables
//////////////////////////

/////////
// Type
$sans: 'Knockout 31 A', 'Knockout 31 B', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$sans31: 'Knockout 31 A', 'Knockout 31 B', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$sans49: 'Knockout 49 A', 'Knockout 49 B', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$sans50: 'Knockout 50 A', 'Knockout 50 B','Helvetica Neue', Helvetica, Arial, sans-serif;
$sans90: 'Knockout 90 A', 'Knockout 90 B', 'Helvetica Neue', Helvetica, Arial, sans-serif;

// Weights 400

$serif: 'Sentinel SSm A', 'Sentinel SSm B', Georgia, serif;
// Weights 500,700,800


/////////
// Colors
$white: #fff;
$black: #000;
$red: #cb2015;

$orange: #cb6015;
$orange-dk: #b25412;
$orange-lt: #e47126;
$orange-lt2: #ff9c57;

$gray: #1a1b1c;
$gray-dk: #020202;
$gray-lt: #464647;
$gray-lt2: #7c7c7c;
$gray-lt3: #c8c8c8;

// Secondary / Tertiary
$blue: #227178;
$blue-dk:#144347;
$blue-lt:#2a8e97;

// Active states
$green: #6f853c;
$green-dk: #5f7233;
$green-lt: #839c47;
$green-lt2: #a1bf5b;


@include cs-test($orange $orange-dk $gray $gray-lt $gray-lt2 $blue $blue-dk $green $green-dk);

/////////
// Spacing
$space: em(20);
$space-doubled: $space*2;
$space-tripled: $space*3;

$space-half: $space/2;

$space-negative: -8em; // only used for cover image
$space-double-negative: -16em; // only used for cover image


$space-btn: em(12) em(24); // buttons
$space-btn-sm: em(10) em(20); // small buttons
$space-btn-search: em(14) em(20); // search buttons space

/////////
// Singularity variables
//
$breakpoint-to-ems: true;
@include add-grid(16);
@include add-gutter(1/3);

*,
*:before,
*:after {
  @include box-sizing('border-box');
}

/////////
// Breakpoints
//

// Header
$logo-full:0 500px;
$search-full: 0 400px;
$search-med: 858px;

// Sidebar
$sidebar-full:0 580px;
$sidebar-trigger:580px;
$sidebar-right:990px;
$content-right:0 990px;

$block-title:820px;

// Paragraphs 
$paragraph-medium: 950px;
$paragraph-full: 600px;

// Cover Photo
$cover-photo-full: 780px;
$cover-photo-huge: 1400px;

// Menus
$main-menu: 830px;
$main-menu-med: 0 560px;

$navigation-full: 0 680px;

// Forms
$forms-medium: 0 830px;
$forms-full: 0 600px;

// Media - Images and Video
$image-full: 900px;
$media-full: 0 820px;

// Footer 
$footer-full: 1112px;
$footer-med: 0 680px;

// For oldIE compatability, we enable the no-query fallbacks. Each breakpoint
// will be followed by the same set of arguments since we have a single
// conditional class to indicate that a browser can't cut the mustard.
