//////////////////////////
// Variables
//////////////////////////

/////////
// Type
$sans: 'Knockout 31 A', 'Knockout 31 B', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$sans31: 'Knockout 31 A', 'Knockout 31 B', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$sans49: 'Knockout 49 A', 'Knockout 49 B', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$sans50: 'Knockout 50 A', 'Knockout 50 B','Helvetica Neue', Helvetica, Arial, sans-serif;
$sans90: 'Knockout 90 A', 'Knockout 90 B', 'Helvetica Neue', Helvetica, Arial, sans-serif;

// Weights 400

$serif: 'Sentinel SSm A', 'Sentinel SSm B', Georgia, serif;
// Weights 500,700,800


/////////
// Colors
$white: #fff;
$black: #000;

$orange: #cb6015;
$orange-dk: #b25412;
$orange-lt: #e47126;
$orange-lt2: #ff9c57;

$gray: #1a1b1c;
$gray-dk: #020202;
$gray-lt: #464647;
$gray-lt2: #7c7c7c;
$gray-lt3: #c8c8c8;

// Secondary / Tertiary
$blue: #227178;
$blue-dk:#144347;
$blue-lt:#2a8e97;

// Form active states and system messages
$green: #6f853c;
$green-dk: #5f7233;
$green-lt: #839c47;
$green-lt2: #a1bf5b;
$red: #cb2015;
$red-lt: #ec584f;
$red-dk: #78120c;
$yellow:#cbc915;
$yellow-lt:#eeed61;
$yellow-dk:#93920f;


@include cs-test($orange $orange-dk $gray $gray-lt $gray-lt2 $blue $blue-dk $green $green-dk);


$space: 24px;
$space-doubled: $space*2;
$space-tripled: $space*3;
$space-quadrupled: $space*4;

$space-half: $space/2;
$space-one-third: $space/3;
$space-one-fourth: $space/4;
$space-one-fifth: $space/5;
$space-one-sixth: $space/6;
$space-one-seventh: $space/7;
$space-one-eigth: $space/8;
$space-one-ninth: $space/9;
$space-one-tenth: $space/10;
$space-one-eleventh: $space/11;
$space-one-twelfth: $space/12;


/////////
// Singularity variables
//
$breakpoint-to-ems: true;
@include add-grid(16);
@include add-gutter(1/3);


/////////
// Breakpoints
//
// ***** @TODO: *****
// ----> Add no-query fallbacks options for IE8
// Client-identified browser requirement is 
// to provide basic support for IE back to version 8


// Container 
$grid-huge:1800px;
$grid-medium:1200px;

// Top Bar
$entity-larger-text:1086px;
$entity-full:986px;
$entity-medium: 662px;
$entity-small: 300px;

// Header
$logo-half:680px;
$search-med: 986px;
$header-padding: 662px;

// Sidebar
$sidebar-desktop:991px;
$sidebar-left:724px;

$sidebar-right-desktop:990px;
$sidebar-right-med:660px 989px;

$sidebar-mobile-trigger:724px;

$cta-med:500px 989px;

$block-title:820px;

// Paragraphs 
$paragraph-medium: 950px;
$paragraph-full: 600px;


// Cover Photo
$cover-photo-full: 780px;
$cover-photo-huge: 1400px;

// Menus
$main-menu-full: 860px;
$main-menu-med: 560px;

// Admin tabs
$tabs-full: 570px;

// Pager
$pager-full: 815px;
$pager-medium: 645px 1108px;
$pager-small: 0 644px;


// Forms
$forms-medium: 0 830px;
$forms-full: 0 600px;

// Media - Images and Video
$image-full: 900px;
$media-full: 0 820px;

// Footer 
$footer-full: 1112px;
$footer-med: 680px;
$footer-seal-full: 1000px;

$footer-thirds:1000px;
