<!-- Footer Pattern -->

<footer>
  <div class="container">
    <ul class="menu">
      <li><a href="javascript:void(0)">Brand Central</a></li>
      <li><a href="javascript:void(0)">Sponsor or Advertise</a></li>
      <li><a href="javascript:void(0)">Contact Us</a></li>
      <li><a href="javascript:void(0)">Careers at Texas Exes</a></li>
    </ul>
    <div class="wrap">
      <div class="seal">
        <span class="seal-image">Texas Exes</span>
      </div>     
      <div class="copyright">
        <p>&copy;2014 Ex-Students' Association of the University of Texas.</p>
      </div>
      <div class="contact">
        <p><span itemprop="address">San Jacinto Boulevard, Austin, TX 78712</span> | <span itemprop="telephone"><a href="tel:+1512-471-8839">512-471-8839</a></span></p>
      </div>              
    </div> 
  </div>
</footer>