//////////////////////////////
// Base Component
//
// The partial and folder structure for this component should be as follows:
// _base.scss

//////////////////////////////
// @{base}
// Styling for Base Component
.base {

}
// {base}@
//////////////////////////////


//////////////////////////////
// @{base--text}
// Text styling for Base Component
.base--TEXT {
  p {
    @include breakpoint($paragraph-full) {
      @include grid-span(11,1);
      clear: both;
    }
    @include breakpoint($paragraph-medium) {
      @include grid-span(9,1);
      clear: both;
    }
  }
}
p.base--p {
  @include breakpoint($paragraph-full) {
    @include grid-span(11,1);
    clear: both;
  }
  @include breakpoint($paragraph-medium) {
    @include grid-span(9,1);
    clear: both;
  }  
}
// {base--text}@
//////////////////////////////


//////////////////////////////
// @{base--form}
// Form styling for Base Component
.base--FORM {

}
// {base--form}@
//////////////////////////////

