//////////////////////////////
// Block/Panel styles for Drupal
//
// The partial and folder structure for this layouts should be as follows:
// _blocks.scss

//////////////////////////////
.block + .block {
  margin: $space 0 0;
}
.block {
  width: 100%;
  clear: both;
  @extend %clearfix;
}
.block-title {
  border-bottom: $space-one-sixth solid lighten($gray-lt2, 20%);
  margin-bottom: 0;
  padding: 0 $space;
  h3 {
    margin: 0;
  }
  h4 {
    margin: 0 0 $space-half;
  }
}
