//////////////////////////////
// Blockquote Components
//
// The partial and folder structure for this components should be as follows:
// _blockquote.scss
// blockquote (folder)
//   _extends.scss
//   _mixins.scss
//   _variables.scss
//
// Automatic Sass parsing is done through special comment blocks
//  - Start styling block for base components: @{components}
//  - End styling block for base components:   {components}@
//
//  - Start styling block for specific components aspect: @{components--aspect}
//  - End styling block for specific components aspect:   {components--aspect}@
//////////////////////////////

@import "blockquote/variables";
@import "blockquote/mixins";
@import "blockquote/extends";

//////////////////////////////
// @{blockquote}
// Styling for Blockquote Components
blockquote {
  border-left: $space solid $orange-lt2;
  margin: $space 0;
  padding-left: $space;

  clear: both;

  @include breakpoint($quotes-full) {
    @include grid-span(6,1);
    clear: both;
  }
}
cite {
  padding-left:$space-doubled;
  margin: 0 0 $space-doubled $space-doubled;

  clear: both;

  @include breakpoint($quotes-full) {
    @include grid-span(6,1);
    clear: both;
  }

}
// {blockquote}@
//////////////////////////////