//////////////////////////////
// Blockquote Components
//
// The partial and folder structure for this components should be as follows:
// _blockquote.scss


//////////////////////////////
// @{blockquote}
// Styling for Blockquote Components
blockquote {
  border-left: $space solid $orange-lt2;
  margin: $space 0;
  padding-left: $space;

  @include grid-span(16,1);
  clear: both;

  @include breakpoint($quotes-full) {
    @include grid-span(6,1);
    clear: both;
  }
}
cite {
  padding-left:$space-doubled;
  margin: 0 0 $space-doubled $space-doubled;

  @include grid-span(16,1);
  clear: both;

  @include breakpoint($quotes-full) {
    @include grid-span(6,1);
    clear: both;
  }

}
// {blockquote}@
//////////////////////////////