//////////////////////////////
// Checkbox Components
//
//////////////////////////////

// @{checkbox}
// Styling for Checkbox Components
div:not(#foo) > input[type="checkbox"],
fieldset:not(#foo) > input[type="checkbox"] {
  opacity: 0;
  float: left;
  width: 1px;
  padding: 0;
  margin:0;
  &.required {
    border-color: $red;
  }  
}
div:not(#foo) > input[type="checkbox"] + label,
fieldset:not(#foo) > input[type="checkbox"] + label  {
  margin: $space;
  clear: none;
  @include button(lighten($gray-lt2,40%), $gray-lt);
  &.required {
    border-color: $red;
    color: $red;
  }
}
div:not(#foo) > input[type='checkbox']:checked + label,
fieldset:not(#foo) > input[type="checkbox"]:checked + label {
  @include button($green, $white);
  a {
    color: $white;
  }
}



// {checkbox}@
//////////////////////////////