//////////////////////////////
// Cover Image styles
// _cover-image.scss
//////////////////////////////

.cover-image {
  margin: em(2) 0 $space 0;

  @include breakpoint($cover-photo-full) {
    margin-bottom: $space-negative;
  }

  @include breakpoint($cover-photo-huge) {
    margin-bottom: $space-double-negative;
  }
  
  img {
    margin: 0 auto;
    width: 100%;
  }
  .floatingHeader {
    position: fixed;
    top: 0;
    visibility: hidden;
  }
}
