//////////////////////////////
// Cover Image styles
// _cover-image.scss
//////////////////////////////

.cover-image {
  @include grid-span(16,1);
  margin: em(2) 0 $space 0;

  @include breakpoint($cover-photo-full) {
    margin-bottom: -8em;
  }

  @include breakpoint($cover-photo-huge) {
    margin-bottom: -16em;
  }
  
  img {
    margin: 0 auto;
    width: 100%;
  }
}