//////////////////////////////
// Call to action styles
// _cta.scss
//////////////////////////////

.cta {
  background-color: rgba($gray, .8);
  padding: $space-doubled $space $space-half;

  @include breakpoint($cta-med) {
    h4,
    p {
      width: 100%;
      clear: both;
    }
    button {
      clear: both;
      float: left;
    }
  }
}