//////////////////////////////
// Entity Menu Components
//
// The partial and folder structure for this components should be as follows:
// _entity-menu.scss
//////////////////////////////

.entities {       
  a {
    padding: $space-half $space .8em;
    text-decoration: none;
    color: $gray-lt2;
    display: block;
    border-bottom: em(6) solid $gray-lt3;
    text-align: center;
    &:hover {
      color: $gray-lt;
      border-bottom: em(6) solid $gray-lt2;
      @include breakpoint($main-menu-med) {
        border-bottom: none;
      }
    }
    &.active {
      color: $gray-lt;
      border-bottom: em(6) solid $gray-lt2;
      @include breakpoint($main-menu-med) {
        background-color: lighten($gray-lt3, 10%);
        border-bottom: none;
      }
      &:hover {
      color: $gray-lt2;
        border-bottom: em(6) solid $gray-lt2;   
      }
    }
  }
  li {
    @include layout(5) {
      @include grid-span(1,1, $output-style:"float", $gutter:0);
    }
    @include breakpoint($entity-full) {
      display: inline;
      float: left;
      width: auto;
    }
    a { // top level icons
      &:before {
        display: block;
        width: 24px;
        height: 24px;
        margin: 0 auto $space-half;
        vertical-align: middle;
        content: "";
        background-repeat: no-repeat;
        background-size: cover;

        @include breakpoint($main-menu) {
          display: inline-block;
          margin: 0 $space-half 0 0
        }
        @include breakpoint($main-menu-med) {
          width: 34px;
          height: 34px;
          display: inline-block;
          margin: 0 $space-half 0 0
        }
      }
    }
    .texas-exes { // 1. entity bar - texas exes
      &:before {
        background-image: url(../images/logos/seal-logo-black.svg);
      }
      &:hover {
        &:before {
          background-image: url(../images/logos/seal-logo-blue.svg);
        }
      }  
      &.active {
        &:before {
          background-image: url(../images/logos/seal-logo.svg);
        }
      }              
    }
    .alcalde { // 2. entity bar - alcalde
      &:before {
        background-image: url(../images/logos/alcalde.svg);
      }
      &:hover {
        &:before {
          background-image: url(../images/logos/alcalde.svg);
        }
      }  
      &.active {
        &:before {
          background-image: url(../images/logos/alcalde.svg);
        }
      } 
    }
    .scholarships { // 3. entity bar - scholarships
      &:before {
        background-image: url(../images/logos/scholarships.svg);
      }
      &:hover {
        &:before {
          background-image: url(../images/logos/scholarships.svg);
        }
      }  
      &.active {
        &:before {
          background-image: url(../images/logos/scholarships.svg);
        }
      } 
    }         
    .gameday { // 4. entity bar - gameday
      &:before {
        background-image: url(../images/logos/longhorn.svg);
      }
      &:hover {
        &:before {
          background-image: url(../images/logos/longhorn.svg);
        }
      }  
      &.active {
        &:before {
          background-image: url(../images/logos/longhorn.svg);
        }
      }   
    } 
    .the-hook { // 5. entity bar - the hook
      &:before {
        background-image: url(../images/logos/hook.svg);
      }
      &:hover {
        &:before {
          background-image: url(../images/logos/hook.svg);
        }
      }  
      &.active {
        &:before {
          background-image: url(../images/logos/hook.svg);
        }
      }       
    }          
  }
}

