//////////////////////////////
// Footer Menu Components
//
// The partial and folder structure for this components should be as follows:
// _footer-menu.scss
//////////////////////////////

footer {
  a {
    color: $gray-lt2;
    &:hover {
      color: $white;
    }
  }
  .menu {
    width: 100%;
    @extend %clearfix;
    
    a {
      text-decoration: none;
      padding: $space-half $space;
      text-align: center;
      display: block;
      color: $gray-lt2;
      &:hover {
        color: $white;
      }         
      &:hover {
        color: $white;
      }
      &.active {
        color: $white;
      }
    }
    li {
      display: block;
      width: 100%;
      clear: both;
      @include breakpoint($footer-med) {
        @include layout(5) {
          @include grid-span(1,1, $output-style:"float", $gutter:0);     
        }
      }
      @include breakpoint($footer-full) {
        clear: none;
        width: auto;
        display: inline;
      }
    }
  }
}
