//////////////////////////////
// Form Components
//
// The partial and folder structure for this components should be as follows:
// _forms.scss
// All general input and form styles
//////////////////////////////
// @{text-input}

//
// Form component typography
//
legend {
  font-family: $sans;
  line-height: 1.2;
  margin-bottom: $space-one-sixth;
  color: $gray;
}
label {
  font-size:24px;
  font-family: $sans49;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: $space-one-sixth;
  text-transform: uppercase;
  color: $gray;
  letter-spacing:$space-one-twelfth;
  display: block;

  &.radio,
  &.checkbox {
    font-family: $sans;
    font-size:18px;
    text-transform: none;    
  }
}
input,
textarea {
  font-size:18px;
  line-height: 1.2;
  font-family: $serif;
}

// Buttons 
.button,
button,
input[type="submit"] {
  text-transform: uppercase;  
  font-family: $sans;
  font-weight: 400;
  letter-spacing:1.2px;
  font-size:18px;
  line-height: 1.8; 
  &.small {
    font-size:16px;
    line-height: 1.2; 
  }
  &.search {
    line-height: 1.1; 
  }
}

// Label buttons for toggling
#main-toggle-label { // Match main ul font-size
  font-size:16px;
  @include breakpoint($main-menu-full) {
    font-size:20px;
  }  
}
#toggle-label {
  font-size:16px;
}
#main-toggle-label,
#toggle-label {
  line-height: 1.2;
  font-family: $sans;
  text-transform: uppercase;
  letter-spacing: normal;
}

// Styling for Form Components

fieldset {
  border: none;
  margin-top: $space;
  margin-bottom: $space;
  padding: 0;
  @extend %clearfix;

  fieldset {
    margin-top: $space-doubled;
    margin-bottom: $space;
  }
  .form-item {
    margin: $space-half 0 $space;   
  }
}
label {
  cursor: default;
}

input[type="range"] {
  padding: $space-doubled;
}

//
// Input styles
//

input,
textarea {
  padding: $space-half;
  border:$space-one-sixth solid $gray-lt2;
  background-color: lighten($gray-lt2, 30%);
  &:focus {
    border-color: $green;
    outline-color: $green-dk;
    background-color: $white;
    @include transition(all .4s ease);
  }
  &.required {
    border-color: $red;
    &:focus {
      border-color: $green;
      outline-color: $green-dk;
      background-color: $white;
    }
  }
}

input[type="text"],
textarea {
  @include breakpoint($forms-medium) {
    @include grid-span(10,1, $output-style:"float");
  }
  @include breakpoint($forms-full) {
    width: 100%;
  }
}
