//////////////////////////////
// Header styles
// _header.scss
//////////////////////////////

main, // wrapper definition for prototype only
.container {
  header {
    width: 100%;
    padding: $space-doubled 0;
    @include box-shadow(0 2px 4px rgba($gray, .5));

    .logo {
      width: 100%;
      text-align: left;
      @include breakpoint($logo-half) {
        @include grid-span(5,1);  
      }     

    } 
    .main-menu {
      width: 100%;
      clear: both;

      @include breakpoint($logo-half) {
        @include grid-span(11,6);  
      }        
    }
  }
}
