//////////////////////////////
// Header styles
// _header.scss
//////////////////////////////

main, // wrapper definition for prototype only
.container {
  header {
    padding: $space-half 0;
    @include box-shadow(0 2px 4px rgba($gray, .5));

    @include breakpoint($header-padding) {
      padding: $space-doubled 0;
    }    

    .logo {
      text-align: left;
      @include breakpoint($logo-half) {
        @include grid-span(5,1);  
      }     

    } 
    .main-menu {

      @include breakpoint($logo-half) {
        @include grid-span(11,6);  
      }        
    }
  }
}
