//////////////////////////////
// Link styles
// _links.scss
//////////////////////////////

a,
a:visited {
  color: $blue;
  @include transition(all .4s ease);
  &:hover {
    color:lighten($blue, 10%);
    text-decoration: none;
  }
  &.active {
    color:lighten($blue, 10%);
    text-decoration: none;    
  }
}
p {
  a {
    font-weight: 700;
  }
}