//////////////////////////////
// Link styles
// _links.scss
//////////////////////////////

a,
a:visited {
  color: $blue;
  &:hover {
    color:lighten($blue, 10%);
    text-decoration: none;
  }
  &.active {
    background-color: lighten($gray-lt3, 10%);
    color:lighten($blue, 10%);
    text-decoration: none;    
  }
}
p {
  a {
    font-weight: 700;
  }
}