//////////////////////////////
// Lists Components
//
//////////////////////////////
// @{lists}
// Styling for List-Ordered Components
main { // for prototype only
  .base--TEXT {
    ul,
    ol {
      margin: $space-tb $space-tb*2 $space-tb*2;
      ul,
      ol {
        margin: $space-tb/2;
      }
    }
    ul {
      li {
        list-style-type: disc;
      }
    }
    ol {
      li {
        list-style-type: decimal;
      }
    }
  }
}

// PROTOTYPE ONLY - Delete once in Drupal

ul.base--ul {
  margin: $space-tb $space-tb*2 $space-tb*2;
  li {
    list-style-type: disc;        
  }
  ul.base--ul {
    margin: $space-tb/2 $space-tb $space-tb/2;
    li {
      list-style-type: disc;        
    }
  }
}
ol.base--ol {
  margin: $space-tb $space-tb*2 $space-tb*2;
  li {
    list-style-type: decimal;        
  }
  ol.base--ol {
    margin: $space-tb/2;
    li {
      list-style-type: decimal;        
    }
  }
  ul.base--ul {
    margin: $space-tb/2;
    li {
      list-style-type: disc;        
    }
  }  
}
// {list-ordered}@
//////////////////////////////