//////////////////////////////
// Lists Components
//
//////////////////////////////
// @{lists}
// Styling for List-Ordered Components
// ***** @TODO: *****
// ----> Change for Drupal markup - double-check margins for drupal.

ul {
  li {
    list-style: disc;
  }
}
ol {
  li {
    list-style: decimal;
  }
}

.content {
  ul,
  ol {
    margin: $space 0 $space-doubled;
    ul,
    ol {
      margin: $space;
    }
  }
}

.sidebar {
  ul {
    li {
      list-style: none;
    }
  }
  ol {
    li {
      list-style: none;
    }
  }
}


// {list-ordered}@
//////////////////////////////
