//////////////////////////////
// Lists Components
//
//////////////////////////////
// @{lists}
// Styling for List-Ordered Components
// ***** @TODO: *****
// ----> Change for Drupal markup

main { // for prototype only
  .base--TEXT {
    ul,
    ol {
      margin: $space $space-doubled $space-doubled;
      ul,
      ol {
        margin: $space;
      }
    }
    ul {
      li {
        list-style-type: disc;
      }
    }
    ol {
      li {
        list-style-type: decimal;
      }
    }
  }
}


// {list-ordered}@
//////////////////////////////