//////////////////////////////
// Logo Components
//
// The partial and folder structure for this components should be as follows:
// _logo.scss
// logo (folder)
//   _extends.scss
//   _mixins.scss
//   _variables.scss
//
// Automatic Sass parsing is done through special comment blocks
//  - Start styling block for base components: @{components}
//  - End styling block for base components:   {components}@
//
//  - Start styling block for specific components aspect: @{components--aspect}
//  - End styling block for specific components aspect:   {components--aspect}@
//////////////////////////////

@import "logo/variables";
@import "logo/mixins";
@import "logo/extends";

//////////////////////////////
// @{logo}
// Styling for Logo Components
.logo {
  display: block;
  max-width: 300px;
  overflow: hidden;

  @include breakpoint($logo-full) {
    width: 100%;
    height: auto;
    clear: both;
  }

  h1 {
    background: transparent image-url('logos/logo.svg') left center no-repeat;
    background-size: contain;
    width: 300px;
    height: 0;
    margin: 0;
    padding-bottom: (75/200) * 100%;

    text-indent: 100%;
    white-space: nowrap;
  }
}

// {logo}@
//////////////////////////////
