//////////////////////////////
// Logo Components
//
//////////////////////////////
// ***** @TODO: *****
// ----> Add SVG Fallback PNG logo - use modernizr?
// ----> IE8 background-size from World Pulse
// ----> Taylor knows what this is - show Joe how it works

//////////////////////////////
// @{logo}
// Styling for Logo Components
.logo {
  a { 
    background: transparent image-url('logos/logo.svg') center center no-repeat;  
    margin: 0 auto;
    display: block;
    max-width: 300px;
    height: 0;
    background-size: contain;
    padding-bottom: 20%;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;


    @include breakpoint($logo-half) {
      background-position: left;
      min-height: 100px;
      margin: 0;
    }
  }
}

// {logo}@
//////////////////////////////