//////////////////////////////
// Main Menu Components
//
// The partial and folder structure for this components should be as follows:
// _main-menu.scss
//////////////////////////////

.main-menu {
  ul {
    float: right;   
    position: relative;
    @include breakpoint($main-menu) {
      margin-top: $space;
    }    
    @include breakpoint($navigation-full) {
      @include grid-span(16,1);
      clear: both;
    }      

    ul {
      @include grid-span(10,1);
      position: absolute;
      padding: $space;
      z-index: 2;
      background-color: $white;
      margin-top: 0;
      border-top: em(6) solid $blue-lt;
      @include box-shadow(0 1px 2px rgba($gray, .5));
      @include breakpoint($main-menu-med) {
        @include grid-span(16,1);
      }

      a { // second level icons
        padding: $space-half;
        border-bottom: none;
        text-align: left;
        &:before {
          display: none;
        }
        &:hover,
        &.active {
          border-bottom: none;
        }
      }      
    }
  }
  a {
    padding: $space;
    text-decoration: none;
    color: $gray;
    display: block;
    border-bottom: em(6) solid $white;
    text-align: center;
    @include breakpoint($main-menu) {
      text-align: left;
    }
    @include breakpoint($main-menu-med) {
      border-bottom: none;
      text-align: center;
    }
    &:hover {
      color: $blue-lt;
      border-bottom: em(6) solid $blue-lt;
      @include breakpoint($main-menu-med) {
        border-bottom: none;
      }
    }
    &.active {
      color: $blue;
      border-bottom: em(6) solid $blue;
      background-color: $white;
      @include breakpoint($main-menu-med) {
        background-color: lighten($gray-lt3, 10%);
        border-bottom: none;
      }
      &:hover {
        color: $blue;
        border-bottom: em(6) solid $gray-lt2;   
      }      
    }
  }
  li {
    display: inline;
    @include grid-span(4,1, $output-style:"float", $gutter:0);

    @include breakpoint($main-menu) {
      float: left;
      width: auto;
    }
    @include breakpoint($main-menu-med) {
      @include grid-span(8,1, $output-style:"float", $gutter:0);
      text-align: center;
      margin: 0;
    }
    li {
      display: block;
      width: 100%;
    }
    a { // top level icons
      &:before {
        display: block;
        width: 28px;
        height: 28px;
        margin: 0 auto $space-half;
        vertical-align: middle;
        content: "";
        background-repeat: no-repeat;
        background-size: cover;

        @include breakpoint($main-menu) {
          display: inline-block;
          margin: 0 $space-half 0 0
        }
        @include breakpoint($main-menu-med) {
          width: 34px;
          height: 34px;
          display: inline-block;
          margin: 0 $space-half 0 0
        }
      }
    }
    &.menu-item-1 { // main menu
      a {
        &:before {
          background-image: url(../images/icons/menu.svg);
        }
        &.active {
          &:before {
            background-image: url(../images/icons/x-blue.svg);
          }
          &:hover {
            &:before {
              background-image: url(../images/icons/x-blue.svg);
            }
          }
        } 
        &:hover {
          &:before {
            background-image: url(../images/icons/menu-blue.svg);
          }
        }          
      }            
    }
    &.menu-item-2 { // give
      a {
        &:before {
          background-image: url(../images/icons/give.svg);
        }
        &:hover {
          &:before {
            background-image: url(../images/icons/give-blue.svg);
          }
        } 
        &.active {
          &:before {
            background-image: url(../images/icons/give-blue.svg);
          }
        }         
      }
    }
    &.menu-item-3 { //join
      a {
        &:before {
          background-image: url(../images/icons/join.svg);
        }
        &:hover {
          &:before {
            background-image: url(../images/icons/join-blue.svg);
          }
        }
        &.active {
          &:before {
            background-image: url(../images/icons/join-blue.svg);
          }
        }
      }
    }         
    &.menu-item-4 { // login
      a {
        &:before {
          background-image: url(../images/icons/login.svg);
        }
        &:hover {
          &:before {
            background-image: url(../images/icons/login-blue.svg);
          }
        }  
        &.active {
          &:before {
            background-image: url(../images/icons/login-blue.svg);
          }
        }        
      }
    }      
  }
}

// PROTOTYPE ONLY - Delete for Drupal and maybe use JS?


// Mobile trigger toggle
#main-toggle-label {
  text-align: center;
  @include breakpoint($main-menu) {
    text-align: left;
  }
  @include breakpoint($main-menu-med) {
    border-bottom: none;
    text-align: center;
  }  
  &:before {
    display: block;
    width: 28px;
    height: 28px;
    margin: 0 auto $space-half;
    vertical-align: middle;
    content: "";
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/icons/menu.svg);

    @include breakpoint($main-menu) {
      display: inline-block;
      margin: 0 $space-half 0 0
    }
    @include breakpoint($main-menu-med) {
      width: 34px;
      height: 34px;
      display: inline-block;
      margin: 0 $space-half 0 0
    }
  }
}
#main-menu-toggle + #main-toggle-label {
  background-color: #fff;
  padding: $space;
  text-decoration: none;
  color: $gray;
  display: block;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: em(6) solid $white;
  text-align: center;
  @include breakpoint($main-menu-med) {
    border-bottom: none;
    text-align: center;
  }  
  &:hover {
    color: $blue-lt;
    border-bottom: em(6) solid $blue-lt;
    border-top: none;
    border-right: none;
    border-left: none; 
    &:before {
      background-image: url(../images/icons/menu-blue.svg);
    }       
    @include breakpoint($main-menu-med) {
      border-bottom: none;
      text-align: center;
    } 
  }
}

#main-menu-toggle + #main-toggle-label,
#main-menu-toggle:checked + #main-toggle-label {
  margin: 0; 

}
#main-menu-toggle:checked + #main-toggle-label {
  @include button($white, $blue);
  padding: $space;
  display: block;
  border-top: none;
  border-right: none;
  border-left: none; 
  border-bottom: em(6) solid $blue;
  @include breakpoint($main-menu-med) {
    border-bottom: none;
    text-align: center;
  } 
  &:before {
    background-image: url(../images/icons/x-blue.svg);
    @include breakpoint($main-menu) {
      display: inline-block;
      margin: 0 $space-half 0 0
    }
    @include breakpoint($main-menu-med) {
      width: 34px;
      height: 34px;
      display: inline-block;
      margin: 0 $space-half 0 0
    }
  }
  &:hover {
    color: $blue;
    border-bottom: em(6) solid $blue;
    @include breakpoint($main-menu-med) {
      border-bottom:none;
    }   
    &:before {
      background-image: url(../images/icons/x-blue.svg);
    }
  }
}
#main-toggle-label + ul{
  display: none;
}
#main-menu-toggle:checked + #main-toggle-label + ul {
  display: block;
}
