//////////////////////////////
// Page Layouts
//
// The partial and folder structure for this layouts should be as follows:
// _pages.scss

//////////////////////////////
.page {
  padding: 0;
  z-index: 1;

  .content {
    background-color: rgba($white, .88);
    padding: $space-doubled $space $space;
  }
}