//////////////////////////////
// Search styles
// _search.scss
//////////////////////////////
.search {
  button {
    @include grid-span(5,12, $gutter:0);
    padding: $space-btn-search;
    margin-bottom: 0;
  }
  input[type="search"] {
    @include grid-span(11,1, $gutter:0);
    border:em(6) solid $gray-lt3;
    background-color:lighten($gray-lt3, 8%);
    &:focus {
      outline-color: $green-dk;
      background-color: $white;
      border-color:$gray-lt2;
    }
  }
}