//////////////////////////////
// Sidebar styles for Drupal
//
// The partial and folder structure for this layouts should be as follows:
// _sidebar.scss

//////////////////////////////

.sidebar {
  &.left {
    display: none;
    background-color: lighten($gray-lt3, 6%);
    border-top: $space-one-sixth solid lighten($gray-lt2, 10%);

    @include breakpoint($sidebar-left) {
      display: block;
      padding-top: $space-tripled;
      border-top: none;
    }
    .block-title {
      display: none;

      @include breakpoint($sidebar-mobile-trigger) {
        display: block;
      }
    }
  }
  &.right {
    background-color: lighten($gray-lt3, 12%);
    display: block;
    padding-top: 0;
  }
  h3 {
    font-size:20px;
  }
  a {
    text-transform: none;
    text-decoration: none;
    font-family: $serif;
    font-size:16px;
    font-weight: 400;
    &:hover {
      text-decoration: underline;
    }
  }  
}
.teaser {
  p {
    font-size:14px;
    margin-top: $space;
  }
}