//////////////////////////////
// Sidebar list styles for Drupal
//
// The partial and folder structure for this layouts should be as follows:
// _sidebar-list.scss

//////////////////////////////
.list {
  margin: 0;
  padding: $space-half 0;
  width: 100%;
  @extend %clearfix;

  li {
    margin:0 0 $space-half;
    border-bottom: $space-one-eigth solid darken($gray-lt3, 5%);
    width: 100%;
    clear: both;
    display: block;
    padding: $space-one-third $space;
    @extend %clearfix;

    @include breakpoint($sidebar-right-med) {
      @include layout(3) {
        @include grid-span(1,1, $output-style:"float", $gutter:0);
      }
    }    
  }
  .featured-image {
    @include grid-span(5,1);
  }
  .teaser {
    @include grid-span(11,6);
    padding: 0 $space;
    display: block;
    font-weight: 700;    
  }
} 
