//////////////////////////////
// Sidebar styles for Drupal
//
// The partial and folder structure for this layouts should be as follows:
// _sidebar.scss

//////////////////////////////

.sidebar {
  display: none;
  background-color: lighten($gray-lt3, 6%);

  @include breakpoint($sidebar-left) {
    display: block;
  }
  &.right {
    background-color: lighten($gray-lt3, 12%);
    display: block;
  }
}