//////////////////////////////
// Sidebar list styles for Drupal
//
// The partial and folder structure for this layouts should be as follows:
// _sidebar-list.scss

//////////////////////////////
.list {
  margin: 0;
  padding: $space 0;
  @include grid-span(16,1);

  li {
    margin:0 0 $space;
    border-bottom: em(2) solid darken($gray-lt3, 5%);
    @include grid-span(16,1);
    clear: both;
    padding: $space $space-doubled;

    @include breakpoint($sidebar-right-med) {
      @include layout(3) {
        @include grid-span(1,1, $output-style:"float", $gutter:0);
        padding: $space;
      }
    }
    @include breakpoint($sidebar-right) {
      @include grid-span(16,1);
    }      
  }
  .featured-image {
    @include grid-span(5,1);
    @include breakpoint($content-right) {
      @include grid-span(3,1);
    }
  }
  .teaser {
    @include grid-span(11,6);
    padding: 0 $space;
    display: block;
    font-weight: 700;
    @include breakpoint($content-right) {
      @include grid-span(13,4);
    }      
  }
} 