//////////////////////////////
// Sidebar Menu styles for Drupal
//
// The partial and folder structure for this layouts should be as follows:
// _sidebar-menu.scss

//////////////////////////////

.sidebar {
  .menu {
    margin: 0;
    padding: $space-half 0;
    li {
      margin:0;
    }
    a {
      padding: $space-half $space;
      display: block;
      font-weight: 700;
      &.active {
        background-color: lighten($gray-lt3, 12%);
      }
    }
  }
}

// Mobile trigger toggle
#toggle-label {
  text-align: center;

  &:before {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: 0 $space-half 0 0;
    vertical-align: middle;
    text-align: center;
    content: "";
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/icons/sidemenu.svg);
  }
}

#menu-toggle + #toggle-label {
  border-radius: 0;
  border-width: 0;
  display: block;
  max-width: 200px;
  margin-bottom: 0;
  padding: $space-half;
  background-color: $gray-lt3;
  color: $gray;

  @include breakpoint($sidebar-mobile-trigger) {
    display: none;
  }
}

#menu-toggle:checked + #toggle-label {
  background-color: $gray-lt3;
  color: $blue-lt;
  display: block;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;

  &:before {
    background-image: url(../images/icons/x-circle-blue.svg);
  }
  &:hover {
    &:before {
      background-image: url(../images/icons/x-circle.svg);
    }
  }
}
#menu-toggle:checked + #toggle-label + .sidebar {
  display: block;
}
