//////////////////////////////
// Top bar styles
// _top-bar.scss
//////////////////////////////

main,
.container { // wrapper definition for prototype only
  .top-bar {
    background-color: lighten($gray-lt3, 10%);
    @include grid-span(16,1);
    
    @include breakpoint($entity-show) {
      padding-top: $space;
    }
    .entities {
      @include breakpoint($entity-show) {
        display: block;
      }
      display: none;
      @include grid-span(16,1);

      @include breakpoint($entity-full) {
        @include grid-span(12,1);
      }
    }
    .search {
      @include grid-span(16,1);
      clear: both;
      padding: $space $space-doubled;

      @include breakpoint($search-med) {
        @include grid-span(4,13);
        padding: 0;
      }        
    }   
  }
}