//////////////////////////////
// Top bar styles
// _top-bar.scss
//////////////////////////////

main,
.container { // wrapper definition for prototype only
  .top-bar {
    background-color: lighten($gray-lt3, 10%);

    .entities {
      @extend %clearfix;
    
      @include breakpoint($entity-full) {
        @include grid-span(12,1);
      }
    }
    .search {
      @extend %clearfix;
      padding: $space-half;

      @include breakpoint($search-med) {
        @include grid-span(4,13);
        padding: $space-half 0 0;
      }        
    }     
  }
}



