/**
 * @file _article-txex-chapter.scss
 * Chapters
 */

.txex-chapter {
  position: relative;
  background-color:lighten($gray-lt3, 10%);
  @include breakpoint($chapter-medium) {
    background-color: transparent;
    overflow: hidden;
    @include box-shadow(0 0 10px rgba($gray-lt2,.8));
  }
  &.node-teaser {
    padding: 0;
    margin: $space-doubled 0;
  }
  .cover-image {
    max-height: 30%;
    display: block;
    max-width: 100%;

    @include breakpoint($chapter-medium) {
      @include grid-span(5,1);
      max-height: 100%;
      position: relative;
      overflow: hidden;
      z-index: 0;
      img {
        width: 200%;
        max-width: 200%;
      }
    }
  }

  header {
    text-align: center;
    position: relative;
    padding-top: $space-half;
    @include breakpoint($chapter-medium) {
      @include grid-span(11,6);
      text-align: left;
      padding:$space-half $space 0;
    }

    h3 {
      margin-bottom: 0;
    }
  }

  .content {
    padding: $space-half $space;

    @include breakpoint($chapter-medium) {
      @include grid-span(11,6);
      position: relative;
      padding: $space-half $space $space-half;
      font-size: 16px;
    }
  }

  footer {
    clear: both;
    position: relative;
    padding: $space-half;
    @include breakpoint($chapter-medium) {
      background-color: $gray-lt3;
    }
    span {
      color: $gray;
      display: block;
      text-align: center;
      padding: $space-one-third 0;
      @include breakpoint($chapter-medium) {
        display: inline-block;
        text-align: left;
        padding: 0;
      }
      + span {
        color: $gray-lt;
          @include breakpoint($chapter-medium) {
            &:before {
              content: '\7c';
              padding-right:$space-half;
              padding-left:$space-half;
            }
          }
        + span {
          color: $gray-lt2;
        }
      }
    }
  }
}
