/**
 * @file _article.scss
 * Article styles
 */
article {
  margin-bottom: $space-half;
  &.node-teaser {
    @include breakpoint($sidebar-left) {
      padding: $space;
    }
  }
  > ul {
    max-width: 632px; // for controlling ideal character count measure <= 72 characters
  }
  li {
    margin-bottom: $space-half; 
  }
  .inline {
    display:block;
    margin: 0 0 $space;
    .field-label {
      display: inline-block;
    }
    li {
      list-style: none;
      display: inline;
    }
  }
  p {
    margin-bottom: $space;
  }
  .node-readmore {
    a {
      display: block;
      text-decoration: none;
      font-weight: 700;
      text-align: center;
      padding: $space-one-third 0;
      border:$space-one-eighth solid $gray-lt3;
      &:hover {
        border:$space-one-eighth solid $gray-lt2;
      }
    }
  }

  .home-page & {
    @extend %clearfix; // @TODO: Are their contents floated, why is this here?
    padding: $space;
    h3 { // @TODO: These are h2 tags in output. Change this, or change that?
      font-size: 20px;
    }
  }
}
