/**
 * @file _cover-image.scss
 */

.cover-image {
  position: relative;

  @include breakpoint($cover-photo-full) {
    margin-bottom: -8em;
    z-index: -1;
  }

  @include breakpoint($cover-photo-medium) {
    margin-bottom: -16em;
  }

  @include breakpoint($cover-photo-huge) {
    margin-bottom: -30em;
  }

  &.home-page-cover-image {
    .window {
      position: relative;
      overflow: hidden;

      @include breakpoint($cover-photo-full) {
        height:400px;
      }
      @include breakpoint($cover-photo-medium) {
        height:600px;
      }
    }
    img {
      position: relative;
      margin: 0 auto;
      width: 100%;
    }

    @include breakpoint($cover-photo-homepage-hidden) {
      display: none;
    }
    @include breakpoint($cover-photo-homepage-mobile) {
      margin-bottom: -20em;
      z-index: -1;
    }
    @include breakpoint($cover-photo-full) {
      margin-bottom: -20em;
      z-index: -1;
    }
    @include breakpoint($cover-photo-medium) {
      margin-bottom: -30em;
    }

  }


  img {
    display: block;
    margin: 0 auto;
    width: 100%;
  }
}
