/**
 * @file _footer-menu.scss
 */


footer .menu {
  @extend %clearfix;
  margin:0;
  font-size:16px;
  font-family: $serif;
  text-transform: none;
  a {
    text-decoration: none;
    padding: $space-half 0;
    text-align: center;
    display: block;

    @include breakpoint($footer-medium) {
      padding: $space-half 0 $space-half $space-one-third;
    }
    @include breakpoint($footer-thirds) {
      padding: $space-half 0;
    }    
  }

  li {
    display: block;
    clear: both;
    @include breakpoint($footer-medium) {
      @include layout(5) {
        @include grid-span(1,1, $output-style:"float", $gutter:0);
      }
    }
    @include breakpoint($footer-full) {
      clear: none;
      width: auto;
      display: inline;
      margin-left: $space-half;
      margin-right: $space-half;
    }
  }
}
