/**
 * @file _footer-menu.scss
 */

#footer {
  background-color: lighten($gray-lt3, 5%);
  width: 100%;
  padding:$space 0;
  border-top: $space-one-fourth solid $gray-lt3;
  @extend %clearfix;

  @include breakpoint($footer-thirds) { 
    padding:$space-doubled 0 $space;
  }

  p {
    max-width: 100%;
    font-family: $sans49;
    font-weight: 400;
    color: $gray-lt2;
    letter-spacing: $space-one-twelfth;
    margin:0;
    text-transform: uppercase;
    a {
      font-weight: 400;
      color: $gray;
    }
  }

  .wrap {
    border-top: $space-one-eighth solid $gray-lt3; 
    margin-top: $space;
    padding: $space;
    @extend %clearfix;
    @include breakpoint($footer-thirds) { 
      padding: $space 0;
    }
  }
  .copyright {
    text-align: center;
    padding:$space-half 0 $space-one-fourth; 

    @include breakpoint($footer-thirds) { 
      @include grid-span(7,1);
      text-align: left;
      padding: $space-doubled 0 $space $space-half;  
    }
  }
  .seal {
    @include breakpoint($footer-seal-full) {
      @include grid-span(2,8);
    } 
    .seal-image {
      display: block;
      background: transparent image-url('logos/seal-logo.svg') center center no-repeat;
      background-size: contain;
      width: 20%;
      padding-bottom: 20%;
      height: 0;
      margin: 0 auto;
      text-indent: 100%;
      white-space: nowrap;
      overflow: hidden;

      @include breakpoint($footer-seal-medium) {
        width: 15%;
        padding-bottom: 15%;
      }    

      @include breakpoint($footer-seal-full) {
        width: 80%;
        padding-bottom: 80%;
      }           
    }
  }
  .contact {
    text-align: center;
    a {
      white-space: nowrap;
    }  
    @include breakpoint($footer-thirds) { 
      @include grid-span(7,10);
      text-align: right;
      padding: $space-doubled $space-half $space 0;  
    }
  }  
}
