/**
 * @file _footer-menu.scss
 */

#footer {
  background-color: $gray;
  width: 100%;
  padding:$space-tripled 0;
  border-top: $space-one-fourth solid $gray-lt2;

  a {
    color: $gray-lt2;
    &:hover {
      color: $white;
    }
  }

  p {
    max-width: 100%;
    font-family: $sans49;
    font-weight: 400;
    color: $gray-lt2;
    letter-spacing: $space-one-twelfth;
    margin:0;
    text-transform: uppercase;
    a {
      font-weight: 400;
    }
  }

  .wrap {
    border-top: $space-one-eighth solid $gray-lt; 
    margin-top: $space;
    padding: $space 0;
    @extend %clearfix;
  }
  .copyright {
    text-align: center;
    padding:$space-half 0; 

    @include breakpoint($footer-thirds) { 
      @include grid-span(7,1);
      text-align: left;
      padding: $space-doubled 0 $space $space-half;  
    }
  }
  .seal {
    @include breakpoint($footer-seal-full) {
      @include grid-span(2,8);
    } 
    .seal-image {
      display: block;
      background: transparent image-url('logos/seal-logo.svg') center center no-repeat;
      background-size: contain;
      width: 20%;
      padding-bottom: 20%;
      height: 0;
      margin: 0 auto;
      text-indent: 100%;
      white-space: nowrap;
      overflow: hidden;
  
      @include breakpoint($footer-seal-full) {
        width: 100%;
        padding-bottom: 100%;
      }           
    }
  }
  .contact {
    text-align: center;
    padding:$space-half 0; 

    @include breakpoint($footer-thirds) { 
      @include grid-span(7,10);
      text-align: right;
      padding: $space-doubled $space-half $space 0;  
    }
  }  
}
