/**
 * @file _masthead.scss
 * The home page masthead (with audience-specific headline, subhead, and copy/links)
 */
.masthead {
  text-align: center;
  margin: 0 auto;
  background-color: transparent;
  padding: $space;

  @include breakpoint($homepage-tablet) {
    padding: $space $space $space-doubled;
  }

  @include breakpoint($homepage-desktop) {
    padding: $space $space $space-tripled;
  }

  h2 {
    border-bottom: 0;
    font-family: $sans49;
    letter-spacing: 1px;
    @include breakpoint($cover-photo-homepage-mobile) {
      color: $white;
    }
    @include breakpoint($homepage-tablet) {
      font-size: 48px;
    }
  }

  .copy {
    max-width: 700px;
    margin: 0 auto;
  }

  p {
    max-width: none;
    @include breakpoint($cover-photo-homepage-mobile) {
      color: $gray-lt3;
    }
    @include breakpoint($homepage-tablet) {
      font-size: 20px;
    }
  }

  // The big button links
  .links a {
    margin-left: $space-half;
    margin-right: $space-half;

    @include breakpoint($homepage-mobile) {
      padding: $space-one-third $space;
      margin: 0;
      + a {
        margin-left: $space-doubled;
      }
    }
  }

  // The little text-only convenience links shared between audiences
  // like address updates, login, and chapter
  .convenience-links {
    // @TODO: There was a display:block in the style guide, but this is a div
    // so it has that already. Just leaving this here in case @joetower needs it
    color: $gray-lt3;
    padding-top: $space;
    padding-bottom: $space;

    .address-link {
      padding-top: $space;
    }
  }
}
