/**
 * @file _node-txex-announce.scss
 *
 * Announcement / Call to action styles
 */

.node-txex-announce {
  padding: $space;

    .field-txex-announce-disp-title { // make sure all announcements get the same styling. (homepage)
      font-family: $serif;
      font-weight: 700;
      font-size: 20px;
      text-transform: none;
    }
    @include breakpoint($sidebar-articles-mobile) {
      width: 49.5%;
      display: inline-block;
      vertical-align: middle;
    }
  + .node-txex-announce {
    .field-txex-announce-disp-title {
      padding-top: 0;
    }
    padding-top: 0;
    margin-top: $space;
  }

  .field-txex-announce-image {
    img {
      width: 100%;
    }
    @include breakpoint($homepage-desktop) {
      margin-left: -$space;
      margin-right: -$space;
      margin-bottom: $space-half;
    }
  }

  .button,
  button {
    font-size: 16px;
    display: block;
    text-align: center;
    margin:0 $space;
    @include breakpoint($sidebar-article-buttons-mobile) {
      margin:0 $space;
    }
  }
  &.node-view-mode-full {
    fieldset {
      border-bottom: $space-one-eighth solid $gray-lt3;
      margin-bottom: $space;
    }

    .field-label {
      font-weight: 700;
      display: block;
    }

    .field-txex-announce-display {
      white-space: pre-line;
    }
  }
}
