/**
 * @file _page.scss
 */

.page {
  padding: $space-one-twelfth 0 0;
  z-index: 1;

  .page-primary-content {
    background-color: rgba($white, .88);
    padding:$space;
    @include box-shadow(0 2px 8px rgba($gray, .6));

    @include breakpoint($sidebar-left) {
      padding: $space $space-doubled $space;
    }
  }
}
