/**
 * @file _panel-pane.scss
 */

.panel-pane, .pane-block {
  @extend %clearfix;

  .home-page & {
    .pane-title {
      padding: $space;
      font-family: $sans49;
      font-size: 38px;
    }
  }

  .pane-title {
    border-bottom: $space-one-twelfth solid lighten($gray-lt2, 25%);
    padding: $space;
    margin: 0;

    #{headings(2,4)} {
      margin: 0;
    }
  }
  + .panel-pane, + .pane-block {
    margin-top: $space;
  }

  .right & {
    .pane-content {
      padding: $space;
      ul {
        margin: 0 0 $space-doubled;
      }
    }
  }
}
