/**
 * @file _search.scss
 */

.search {
  margin: 0;
  font-size: 0;
  input {
    padding: $space-one-fourth;
    width: 100%;
    font-size: 16px;
    border-color: $gray-lt3;
    background-color:lighten($gray-lt3, 8%);
    &:focus {
      background-color: $white;
      border-color: $gray-lt2;
    }
  }
  .form-item {
    margin: 0;
    &.form-item-s {
      display: inline-block;
      width: 80%;
    }
  }

  input[type="submit"],
  .form-submit {
    border:none;
    background-color:$gray-lt3;
    padding: 0;
    margin: 0;
    font: 0/0 a;
    color: transparent;
    height: 39px;
    width: 20%;
    background-position: center;
    background-size: 22px 22px;
    vertical-align: top;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    &:hover {
      background-color: $gray-lt3;
    }
    &:focus {
      outline-color: $green-dk;
      background-color: $white;
    }
  }

  .top-bar & {
    @extend %clearfix;
    padding: $space-half;

    @include breakpoint($search-medium) {
      @include grid-span(5,12);
      padding: $space-half 0 0;
    }
  }
}
