//////////////////////////////
// Sidebar styles for Drupal
//
// The partial and folder structure for this layouts should be as follows:
// _sidebar.scss

//////////////////////////////

.sidebar {
  &.left {
    background-color: lighten($gray-lt3, 6%);

    &.minimized {
      background-color: transparent;
    }

    @include breakpoint($sidebar-left) {
      padding-top: $space-tripled;
      padding-bottom: $space-doubled;
    }
  }

  &.right {
    background-color: lighten($gray-lt3, 12%);
    display: block;
    padding-top: 0;
    padding-bottom: $space;
  }

  &:empty, &:empty[style] {
    display: none !important;
  }
  h2, h2 a {
    // Drupal will output pane-titles as H2, but they should follow the styles
    // of a global h3.
    font-family: $serif;
    font-weight: 700;
    font-size: 20px;
    text-transform: none;
  }  
  h3 {
    font-size:20px;
  }

  ul {
    li {
      list-style: none;
    }
  }
  ol {
    li {
      list-style: none;
    }
  }
}
