//////////////////////////////
// Prototype-Only / Sections
//
// The partial and folder structure for this components should be as follows:
// _sections.scss
//
//
////// This file is full of styles that can be ignored. Style prototypes requires some interesting resets.

.home {
  padding-right: $space;
  padding-left: $space;
  padding-top: $space-doubled;
}

.guide {
  .component {
    background-color: $white;
    @extend %clearfix;
    padding: $space $space $space-half;

    .font-size {
      font-style: italic;
      font-family: $serif;
      text-transform: none;
      padding:$space-one-fourth $space-half;
      font-size: 16px;
      background-color: lighten($gray-lt3, 10%);
      border:$space-one-tenth solid $gray-lt3;
      vertical-align: middle;
      margin-left: $space;
    }
  }
  .component-head {
    padding: $space-half $space;
    background-color: lighten($gray-lt3, 10%);
    margin-bottom: $space;
    margin-left: -$space;
    margin-right: -$space;
    margin-top: -$space;
    border-bottom:$space-one-tenth solid $gray-lt3;

    h3 {
      margin: 0;
    }
  }
  form {
    label {
      &.radio,
      &.checkbox {
        padding: $space-half;
        font-size: 18px;
      }
    }
    .form-item {
      clear: both;
    }
  }
}

.window {
  position: relative;
  overflow: hidden;

  @include breakpoint($cover-photo-full) {
    height:400px;
  }
  @include breakpoint($cover-photo-medium) {
    height:600px;
  }
}
img {
  position: relative;
  margin: 0 auto;
  width: 100%;
}
