/**
* @file _home-page.scss
* Home page layout work, does not include any styles for components.
* If you're looking for the home page header stuff, look at masthead.
*/

.home-page {
  padding: $space 0;

  .container > div {
    @include clearfix(); // Mixin instead of extendable because the admin styles don't have that extendable
  }

  .left { // Desktop left, mobile top (was "Events")
    background-color: lighten($gray-lt3,8%);
    @include breakpoint($homepage-tablet) {
      @include grid-span(8,9);
      background-color: rgba($white, .95);
    }
    @include breakpoint($homepage-desktop) {
      @include grid-span(6,1);
    }
  }
  .view-empty {
    padding: $space;
  }
  .center { // Desktop center, mobile bottom (was "News")
    background-color: lighten($gray-lt3,10%);
    padding-top: $space;
    @include breakpoint($homepage-tablet) {
      clear: both;
      float: none;
      width: auto;
      background-color: rgba($white, .95);
      padding-top: 0;
    }
    @include breakpoint($homepage-desktop) {
      @include grid-span(6,7);
    }
    article {
      @include breakpoint($homepage-tablet) {
        @include layout(3) {
          @include grid-span(1,1, $output-style:"float", $gutter:0);
        }
      }
      @include breakpoint($homepage-desktop) {
        clear: both;
        float: none;
        width: 100%;
      }
    }

  }

  .right { // Desktop right, mobile center (was "Announcements")
    background-color: transparent;
    padding-top: $space;
    @include breakpoint($homepage-tablet) {
      @include grid-span(8,1);
      padding-top: 0;
    }
    @include breakpoint($homepage-desktop) {
      @include grid-span(4,13);
    }
    .node-txex-announce { // make 100% instead of standard 2 column.
      @include breakpoint($sidebar-articles-mobile) {
        width: 100%;
      }
      article {
        border-bottom: $space-one-tenth solid $gray-lt3;
      }
    }
  }
}
