---

layout: default

---
<div class="container">

  <div class="events">
    
  </div>

  <div class="announcements">
    
  </div>

  <div class="news">
    
  </div>

</div>


<section class="page three-column-page clearfix">
  <div class="container">
    <div class="sidebar left">
      <button id="menu-sidenav-collapse" class="icon-arrow-right">In This Section</button> 
      <h2 class="pane-title"><a href="/about-texas-exes" class="active-trail active">About Texas Exes</a></h2> 
      <div class="pane-content">
        <div class="menu-block-wrapper menu-block-txex_menus-1 menu-name-main-menu parent-mlid-0 menu-level-2">
          <ul class="menu">
            <li class="first leaf menu-mlid-1027"><a href="/about-texas-exes/purpose-vision">Purpose &amp; Vision</a></li>
            <li class="leaf menu-mlid-1028"><a href="/about-texas-exes/board-council">Board &amp; Council</a></li>
            <li class="last leaf menu-mlid-1029"><a href="/about-texas-exes/contact-us">Contact Us</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
    
  <div class="page-primary-content">
    
    <div class="panel-pane pane-page-title">     
      <div class="pane-content">
        <h1>About Texas Exes</h1>
      </div>
    </div>
    
    <div class="panel-pane pane-entity-view pane-node">  
      <div class="pane-content">
        <article id="node-9" class="node node-txex-static-page node-view-mode-full clearfix" about="/about-texas-exes" typeof="sioc:Item foaf:Document" role="article">  
          <div class="content">
            <p>Since 1885, our core purpose has been to be an independent voice that champions The University of Texas and organizes a formidable network of alumni and friends to change the world. Whether it’s through alumni engagement, enriching the student experience, advocating on the University’s behalf, or communicating the value of UT to the state, the Texas Exes exists to support the University and help it become the top public research university in the country.</p>
            <h2>It Wouldn’t be Texas without the Exes!</h2>

            <ul>
              <li>Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat.</li>
              <li>Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.</li>
              <li>Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus. Nam nulla quam, gravida non, commodo a, sodales sit amet, nisi.</li>
              <li>Pellentesque fermentum dolor. Aliquam quam lectus, facilisis auctor, ultrices ut, elementum vulputate, nunc.</li>
            </ul>
            
            <p>The saying goes that everything’s bigger in Texas. The Texas Exes, UT’s official alumni association, is no exception, with our membership of more than 100,000 forming one of the largest, most renowned alumni networks in the world.</p>
          
            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>

            <h2>neque id cursus faucibus,</h2>

            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>

            <h3>sapien ullamcorper pharetra</h3>
            <ol>
              <li>Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat.</li>
              <li>Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.</li>
              <li>Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus. Nam nulla quam, gravida non, commodo a, sodales sit amet, nisi.</li>
              <li>Pellentesque fermentum dolor. Aliquam quam lectus, facilisis auctor, ultrices ut, elementum vulputate, nunc.</li>
            </ol>
            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
            <ul>
              <li>Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat.</li>
              <li>Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.</li>
              <li>Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus. Nam nulla quam, gravida non, commodo a, sodales sit amet, nisi.</li>
              <li>Pellentesque fermentum dolor. Aliquam quam lectus, facilisis auctor, ultrices ut, elementum vulputate, nunc.</li>
            </ul>

            <h4>Another heading</h4>
            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
          </div><!--/.view-content-->
        </article>

      </div><!--/.pane-content-->
    </div><!--/.panel-pane-->
  </div><!--/.page-primary-content-->
  
  <div class="sidebar right">
    <div class="view view-txex-announcements view-id-txex_announcements view-display-id-panel_pane_1 view-dom-id-cc0352c5834d830213ed193e33e711e0 contextual-links-region">    
      <div class="view-content">
        <article id="node-21" class="node node-txex-announce node-teaser contextual-links-region node-view-mode-teaser clearfix" about="/content/general-sample" typeof="sioc:Item foaf:Document" role="article">
          <div class="content">
            <h2 class="field-txex-announce-disp-title">Sample Announcement</h2>
            <p class="field-txex-announce-text-content">This is a sample announcement item.</p>
            <a href="https://fourkitchens.atlassian.net/browse/TXEX-154" class="button">This ticket in JIRA</a>
          </div>   
        </article>
        
        <article id="node-20" class="node node-txex-announce node-teaser contextual-links-region node-view-mode-teaser clearfix" about="/content/texas-exes-anniversary-party-promotion-about-texas-exes-section" typeof="sioc:Item foaf:Document" role="article"> 
          <div class="content">
           <h2 class="field-txex-announce-disp-title">Celebrate the 900th Anniversary of Texas Exes</h2>
            <figure class="field-txex-announce-image">
              <a href="http://www.evite.com"><img typeof="foaf:Image" src="http://texasexes.local.dev/sites/default/files/styles/txex_announce_image_style/public/announcements/img_20140906_182531987_0.jpg?itok=VNjmIv7y" width="400" height="225" alt="" /></a>
            </figure>
            <p class="field-txex-announce-text-content">Join us before the UT vs. Baylor football game in the Alumni Center.</p>
            <a href="http://www.evite.com" class="button">RSVP</a>  
          </div>
        </article>
      </div><!--/.view-content-->
    </div><!--/.panel-->
  </div><!--/.sidebar-right-->
</div>
</section><!--/page three-column-page-->
  </main>

  <footer id="footer" role="contentinfo">
    <div class="container">
      <div class="menu-block-wrapper menu-block-txex_menus-2 menu-name-menu-txex-footer-menu parent-mlid-0 menu-level-1">
        <ul class="menu"><li class="first leaf menu-mlid-1428"><a href="http://google.com" title="">Google</a></li>
        <li class="leaf menu-mlid-1429"><a href="http://www.bing.com/" title="">Not Google</a></li>
        <li class="leaf menu-mlid-1030"><a href="/privacy-policy" title="">Privacy Policy</a></li>
        <li class="last leaf menu-mlid-1433"><a href="/kitchen-sink">The Kitchen Sink</a></li>
        </ul>
      </div>

      <div class="panel-pane pane-txex-footer-information">      
        <div class="pane-content">
          <div class="wrap">
            <div class="seal"><span class="seal-image">Texas Exes</span></div>
            <div class="copyright"><p>Ex-Students' Association of the University of Texas</p></div>
            <div class="contact"><p><span itemprop="address">San Jacinto Boulevard, Austin, TX 78712</span> | <span itemprop="telephone"><a href="tel:+1512-471-8839">512-471-8839</a></span></p></div>
          </div><!--/.wrap-->
        </div><!--/.pane-content-->
      </div><!--/.panel-pane-->
    </div><!--/.container-->
</footer>
