---

layout: default
page-class: homepage

---

<div class="container">
  <div class="homepage user panel">
    <h2 class="pane-title">It Wouldn’t be Texas without the Exes!</h2> 
    <div class="pane-content">
      <p>The saying goes that everything’s bigger in Texas. The Texas Exes, UT’s official alumni association, is no exception, with our membership of more than 100,000 forming one of the largest, most renowned alumni networks in the world.</p>
      <button>Join Today</button> <button>Why Join?</button>
      <small><a href="#">Login, I already have an account</a></small>
    </div>
  </div>
</div>

<div id="main" class="homepage">
  <section class="page homepage clearfix">

    <div class="container">
      <div class="events panel">
        <h2 class="pane-title">Events</h2> 
        <div class="pane-content">
          <div class="view">
            <article class="node node-teaser">
              <div class="content">
                <h3 property="dc:title" datatype=""><a href="/benefits/jstor-online-library-access" rel="bookmark">JStor Online Library Access</a></h3>
                <figure class="field-txex-benefit-image">
                  <a href="/benefits/jstor-online-library-access"><img typeof="foaf:Image" src="http://texasexes.local.dev/sites/default/files/styles/txex_benefit_thumbnail/public/txex_benefit_image/jstor-logo.png?itok=YUWdyn3U" alt=""></a>
                </figure>
                <p class="field-txex-benefit-short-desc">Access to JStor, an Online Library of journal articles.</p>
              </div><!--/.content-->
            </article>

            <article class="node node-teaser">
              <div class="content">
                <h3 property="dc:title" datatype=""><a href="/benefits/jstor-online-library-access" rel="bookmark">JStor Online Library Access</a></h3>              
                <figure class="field-txex-benefit-image">
                  <a href="/benefits/jstor-online-library-access"><img typeof="foaf:Image" src="http://texasexes.local.dev/sites/default/files/styles/txex_benefit_thumbnail/public/txex_benefit_image/jstor-logo.png?itok=YUWdyn3U" alt=""></a>
                </figure>
                <p class="field-txex-benefit-short-desc">Access to JStor, an Online Library of journal articles.</p>
              </div><!--/.content-->
            </article>

            <article class="node node-teaser">
              <div class="content">
                <h3 property="dc:title" datatype=""><a href="/benefits/jstor-online-library-access" rel="bookmark">JStor Online Library Access</a></h3>              
                <figure class="field-txex-benefit-image">
                  <a href="/benefits/jstor-online-library-access"><img typeof="foaf:Image" src="http://texasexes.local.dev/sites/default/files/styles/txex_benefit_thumbnail/public/txex_benefit_image/jstor-logo.png?itok=YUWdyn3U" alt=""></a>
                </figure>
                <p class="field-txex-benefit-short-desc">Access to JStor, an Online Library of journal articles.</p>
              </div><!--/.content-->
            </article>

          </div><!--/.view-->
        </div><!--/.pane-content-->
      </div><!--/.sidebar-left-->
    
    <div class="announcements panel">
      <div class="view view-txex-announcements view-id-txex_announcements view-display-id-panel_pane_1 view-dom-id-cc0352c5834d830213ed193e33e711e0 contextual-links-region">    
        <div class="view-content">
          <article id="node-21" class="node node-txex-announce node-teaser contextual-links-region node-view-mode-teaser clearfix" about="/content/general-sample" typeof="sioc:Item foaf:Document" role="article">
            <div class="content">
              <h2 class="field-txex-announce-disp-title">Sample Announcement</h2>
              <p class="field-txex-announce-text-content">This is a sample announcement item.</p>
              <a href="https://fourkitchens.atlassian.net/browse/TXEX-154" class="button">This ticket in JIRA</a>
            </div>   
          </article>
          
          <article id="node-20" class="node node-txex-announce node-teaser contextual-links-region node-view-mode-teaser clearfix" about="/content/texas-exes-anniversary-party-promotion-about-texas-exes-section" typeof="sioc:Item foaf:Document" role="article"> 
            <div class="content">
             <h2 class="field-txex-announce-disp-title">Celebrate the 900th Anniversary of Texas Exes</h2>
              <figure class="field-txex-announce-image">
                <a href="http://www.evite.com"><img typeof="foaf:Image" src="http://texasexes.local.dev/sites/default/files/styles/txex_announce_image_style/public/announcements/img_20140906_182531987_0.jpg?itok=VNjmIv7y" width="400" height="225" alt="" /></a>
              </figure>
              <p class="field-txex-announce-text-content">Join us before the UT vs. Baylor football game in the Alumni Center.</p>
              <a href="http://www.evite.com" class="button">RSVP</a>  
            </div>
          </article>
        </div><!--/.view-content-->
      </div><!--/.panel-->
    </div><!--/.sidebar-right-->

    <div class="news panel">
      <h2 class="pane-title">News</h2> 
      <div class="pane-content">
        <div class="view">
            <article class="node node-teaser">
              <div class="content">
                <h3 property="dc:title" datatype=""><a href="/benefits/jstor-online-library-access" rel="bookmark">JStor Online Library Access</a></h3>
                <figure class="field-txex-benefit-image">
                  <a href="/benefits/jstor-online-library-access"><img typeof="foaf:Image" src="http://texasexes.local.dev/sites/default/files/styles/txex_benefit_thumbnail/public/txex_benefit_image/jstor-logo.png?itok=YUWdyn3U" alt=""></a>
                </figure>
                <p class="field-txex-benefit-short-desc">Access to JStor, an Online Library of journal articles.</p>
              </div><!--/.content-->
            </article>

            <article class="node node-teaser">
              <div class="content">
                <h3 property="dc:title" datatype=""><a href="/benefits/jstor-online-library-access" rel="bookmark">JStor Online Library Access</a></h3>
                <figure class="field-txex-benefit-image">
                  <a href="/benefits/jstor-online-library-access"><img typeof="foaf:Image" src="http://texasexes.local.dev/sites/default/files/styles/txex_benefit_thumbnail/public/txex_benefit_image/jstor-logo.png?itok=YUWdyn3U" alt=""></a>
                </figure>
                <p class="field-txex-benefit-short-desc">Access to JStor, an Online Library of journal articles.</p>
              </div><!--/.content-->
            </article>

            <article class="node node-teaser">
              <div class="content">
                <h3 property="dc:title" datatype=""><a href="/benefits/jstor-online-library-access" rel="bookmark">JStor Online Library Access</a></h3>              
                <figure class="field-txex-benefit-image">
                  <a href="/benefits/jstor-online-library-access"><img typeof="foaf:Image" src="http://texasexes.local.dev/sites/default/files/styles/txex_benefit_thumbnail/public/txex_benefit_image/jstor-logo.png?itok=YUWdyn3U" alt=""></a>
                </figure>
                <p class="field-txex-benefit-short-desc">Access to JStor, an Online Library of journal articles.</p>
              </div><!--/.content-->
            </article>

        </div><!--/.view-->
      </div><!--/.pane-content-->    
    </div><!--/.page-primary-content-->

  </section><!--/page three-column-page-->
</div><!--/#main-->

<footer id="footer" role="contentinfo">
  <div class="container">
    <div class="menu-block-wrapper menu-block-txex_menus-2 menu-name-menu-txex-footer-menu parent-mlid-0 menu-level-1">
      <ul class="menu"><li class="first leaf menu-mlid-1428"><a href="http://google.com" title="">Google</a></li>
      <li class="leaf menu-mlid-1429"><a href="http://www.bing.com/" title="">Not Google</a></li>
      <li class="leaf menu-mlid-1030"><a href="/privacy-policy" title="">Privacy Policy</a></li>
      <li class="last leaf menu-mlid-1433"><a href="/kitchen-sink">The Kitchen Sink</a></li>
      </ul>
    </div>

    <div class="panel-pane pane-txex-footer-information">      
      <div class="pane-content">
        <div class="wrap">
          <div class="seal"><span class="seal-image">Texas Exes</span></div>
          <div class="copyright"><p>Ex-Students' Association of the University of Texas</p></div>
          <div class="contact"><p><span itemprop="address">San Jacinto Boulevard, Austin, TX 78712</span> | <span itemprop="telephone"><a href="tel:+1512-471-8839">512-471-8839</a></span></p></div>
        </div><!--/.wrap-->
      </div><!--/.pane-content-->
    </div><!--/.panel-pane-->
  </div><!--/.container-->
</footer>
