//////////////////////////
// Variables
//////////////////////////

/////////
// Type
$sans: 'Knockout 31 A', 'Knockout 31 B', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$sans49: 'Knockout 49 A', 'Knockout 49 B', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$sans50: 'Knockout 50 A', 'Knockout 50 B','Helvetica Neue', Helvetica, Arial, sans-serif;
$sans90: 'Knockout 90 A', 'Knockout 90 B', 'Helvetica Neue', Helvetica, Arial, sans-serif;

// Weights 400

$serif: 'Sentinel SSm A', 'Sentinel SSm B', Georgia, serif;
// Weights 500,700,800


// For an explanation of why "sans-serif" is at the end of this list, see
// http://meyerweb.com/eric/thoughts/2010/02/12/fixed-monospace-sizing/
$monospace: 'Consolas', 'Monaco', "Courier New", "DejaVu Sans Mono", monospace, sans-serif;

/////////
// Colors
$white: #fff;
$black: #000;

// Primary
$orange: #cb6015;
$orange-dk: #b25412;
$orange-lt: #e47126;
$orange-lt2: #ff9c57;

$gray: #1a1b1c;
$gray-dk: #020202;
$gray-lt: #464647;
$gray-lt2: #7c7c7c;
$gray-lt3: #c8c8c8;

// Secondary / Tertiary
$blue: #005f87;
$blue-dk:#002b3d;
$blue-lt:#008fcc;

// Form active states and system messages
$green: #6f853c;
$green-dk: #5f7233;
$green-lt: #839c47;
$green-lt2: #a1bf5b;
$red: #cb2015;
$red-lt: #ec584f;
$red-dk: #78120c;
$yellow:#cbc915;
$yellow-lt:#eeed61;
$yellow-dk:#93920f;


// Spacing

$space: 24px;
$space-doubled: $space*2;
$space-tripled: $space*3;
$space-quadrupled: $space*4;

$space-half: $space/2;
$space-one-third: $space/3;
$space-one-fourth: $space/4;
$space-one-fifth: $space/5;
$space-one-sixth: $space/6;
$space-one-seventh: $space/7;
$space-one-eighth: $space/8;
$space-one-ninth: $space/9;
$space-one-tenth: $space/10;
$space-one-eleventh: $space/11;
$space-one-twelfth: $space/12;


/////////
// Singularity variables
//
$breakpoint-to-ems: true;
@include add-grid(16);
@include add-gutter(1/3);


/////////
// Breakpoints
//
// ***** @TODO: *****
// ----> Add no-query fallbacks options for IE8
// Client-identified browser requirement is
// to provide basic support for IE back to version 8


// Container
$grid-huge:1800px;
$grid-medium:1200px;

// Top Bar
$entity-larger-text:1086px;
$entity-full:986px;
$entity-medium: 662px;
$entity-small: 300px;

// Header
$logo-half:680px;
$search-small: 380px;
$search-medium: 986px;
$search-toggle: 680px;
$header-padding: 662px;

// Sidebar
$sidebar-desktop:991px;
$sidebar-left:724px;

$sidebar-right-desktop:990px;
$sidebar-right-medium:660px 989px; // For use for layout-specific control (three columns)

$sidebar-articles-mobile:565px 989px; // Specific to articles in the sidebar
$sidebar-article-buttons-mobile:0 620px; // buttons in sidebar article

// Paragraphs
$paragraph-medium: 950px;
$paragraph-full: 600px;


// Cover Photo
$cover-photo-full: 780px;
$cover-photo-medium: 1200px;
$cover-photo-huge: 1600px;

$cover-photo-homepage-hidden:0 549px;
$cover-photo-homepage-mobile: 550px;
$cover-photo-extra-large: 1800px;


// Menus
$main-menu-full: 860px;
$main-menu-medium: 560px;
$main-menu-small: 400px;


// Admin tabs
$tabs-full: 570px;

// Chapters
$chapter-medium:500px;

// Pager
$pager-full: 815px;
$pager-medium: 645px 1108px;
$pager-small: 0 644px;

// Forms
$forms-medium: 830px;

// Footer
$footer-full: 1112px;
$footer-medium: 680px;

$footer-seal-medium: 800px;
$footer-seal-full: 1000px;

$footer-thirds:1000px;

// Homepage
$homepage-mobile:570px; // masthead partial
$homepage-tablet:780px;
$homepage-desktop:1080px;
