//////////////////////////////
// One-Column-Page Layouts
//
// The partial and folder structure for this layouts should be as follows:
// _one-column-page.scss
//
// ***** @TODO: *****
// ----> Change for Drupal markup/panels
//
//////////////////////////////
// @{one-column-page}
// Styling for One-Column-Page Layouts
.one-column-page {
  .content {
    @include grid-span(16,1);
  }
  .image {
    @include grid-span(16,1);

    &.half {
      @include grid-span(16,1);
      clear: both;
      margin-bottom: $space-doubled;

      @include breakpoint($image-full) {
        @include grid-span(12,1);
        clear: both;
        padding: $space;
        
      }
    }
  } 
}
// {one-column-page}@
//////////////////////////////