//////////////////////////////
// Three-Column-Page Layouts
//
// The partial and folder structure for this layouts should be as follows:
// _three-column-page.scss
//
// ***** @TODO: *****
// ----> Change for Drupal markup/panels
//
//////////////////////////////
// @{three-column-page}
// Styling for Three-Column-Page Layouts
.three-column-page {
  width: 100%;

  .sidebar {
    @include grid-span(4,1, $gutter:0);
    background-color: lighten($gray-lt3, 6%);
    padding: $space-tripled 0 $space;

    @include breakpoint($sidebar-full) {
      @include grid-span(16,1);
      padding: $space 0;
    }
    &.right {
      width: 100%;
      padding: $space-doubled 0 $space;
      background-color: lighten($gray-lt3, 12%);
      clear: both;

      @include breakpoint($sidebar-right) {
        @include grid-span(4,13, $gutter:0);
        padding: 0 0 $space;
      }  
    }
  }
  .content {
    @include grid-span(8,5, $gutter:0);
    background-color: rgba($white, .88);
    padding: $space-doubled $space-doubled $space-tripled;
  
    @include breakpoint($content-right) {
      @include grid-span(12,5, $gutter:0);
    }  
    @include breakpoint($sidebar-full) {
      width: 100%;
      padding: $space;
    }
  }  
}
// {three-column-page}@
//////////////////////////////