//////////////////////////////
// Two-Column-Page Layouts
//
// The partial and folder structure for this layouts should be as follows:
// _two-column-page.scss
// two-column-page (folder)
//   _extends.scss
//   _mixins.scss
//   _variables.scss
//
// Automatic Sass parsing is done through special comment blocks
//  - Start styling block for base layouts: @{layouts}
//  - End styling block for base layouts:   {layouts}@
//
//  - Start styling block for specific layouts aspect: @{layouts--aspect}
//  - End styling block for specific layouts aspect:   {layouts--aspect}@
//////////////////////////////

@import "two-column-page/variables";
@import "two-column-page/mixins";
@import "two-column-page/extends";

//////////////////////////////
// @{two-column-page}
// Styling for Two-Column-Page Layouts
.two-column-page {
  @include grid-span(16,1);
  .sidebar {
    @include grid-span(6,1, $gutter:2);
    background-color: $gray-lt3;
    padding: $space-tripled 0 $space;

    @include breakpoint($sidebar-full) {
      @include grid-span(16,1);
      padding: $space 0;
    }

  }
  .content {
    @include grid-span(10,7, $gutter:2);
    padding: $space-tripled $space $space;

    @include breakpoint($sidebar-full) {
      @include grid-span(16,1);
      padding: $space;
    }
  }  
  p {
    @include breakpoint($paragraph-full) {
      @include grid-span(16,1);
      clear: both;
    }
    @include breakpoint($paragraph-medium) {
      @include grid-span(12,1);
      clear: both;
    }
  }
}
// {two-column-page}@
//////////////////////////////